[2018-04-11 18:22] fatih opened #1 "Add License headers to CSI plugin source code"

[2018-04-11 18:22] fatih opened #2 "CSI: Add ErrorLog interceptor for the gRPC servers"
We have multiple methods in the plugin that might return an error. We should add an interceptor that logs the return error of all functions automatically. I've didn't looked into it, but I believe there might be something like this.

[2018-04-11 18:23] fatih opened #3 "Check number of volumes attached to a droplet"
Related: https://github.com/container-storage-interface/spec/issues/217

[2018-04-11 18:26] fatih opened #4 "Release first version with v0.1.0"

[2018-04-11 18:48] fatih opened #5 "Add driver to https://github.com/kubernetes-csi/docs"

[2018-04-12 14:53] fatih opened #7 "Make sure functions are idempotent"

[2018-04-12 14:59] ikamman opened #8 "Driver does not support reclaimPolicy: Retain"
Currently the driver always formating volumes before mounting and does not respect reclaimPolicy: Retain.
For the Retain policy the driver should not format volumes and leave any data on them.

[2018-04-12 15:03] fatih commented on #8
Thanks @ikamman for the feedback. Please let me know if there is anything else that comes to your mind. We're still working on fleshing out the edge cases, hence it's marked as alpha.

[2018-04-13 15:24] ritoon commented on #7
What kind of storage you have ? This could be a middleware with that connect to a redis cluster ?

[2018-04-18 09:42] romansky opened #9 "pv/pvc not being deleted - "no finalizer, ignoring""
Have a zombie pv + pvc which are not being deleted, getting this in the logs:

[code]

The relevant one is `kubernetes-dynamic-pv-fake-id-8`

[2018-04-18 10:39] romansky commented on #9
Its gone now, I think I missed a deployment which was using the pvc..
Closing for now.

[2018-04-18 10:39] #9 closed

[2018-04-22 15:24] romansky opened #10 "Attachment sometimes fails with `GRPC error: <nil>`"
Sometimes attach fails sporadically, possibly when creating multiple services with volumes

[code]

[2018-04-30 07:51] fatih commented on #10
Hi @romansky

Can you share your PV or Pod spec that you use if it's not private and what you do in exact steps? I would like to have a way to reproduce it. I assume this is due the fact that the plugin doesn't handle (yet) multiple same requests sent to the same endpoint.

[2018-04-30 07:52] fatih commented on #7
@ritoon I didn't understand what you mean? Can you clarify what this has to do with the issue? Thanks

[2018-05-06 20:35] ritoon commented on #7
@fatih I was just trying to help you on this open issue, but didn't figure out that this wasn't ``http.Request`` idempotency but rather function execution idempotency. Where do you need this check is it [here](https://github.com/digitalocean/csi-digitalocean/blob/master/driver/node.go#L159)? Could it be done with a hash of the reflect values used on the func ``Mount`` and then this hash would be s

[2018-05-07 09:51] fatih opened #11 "Set the storage class default in the deploy scripts"

[2018-05-07 10:40] #11 closed

[2018-05-08 08:48] fatih opened #14 "Remove imagePullPolicy in kubernetes deploy files after releasing the plugin"
We have things like this in our kubernete deploy files:

[code]

This is added so we can use the same version over and over again. Remove it until we have a stable version released.

[2018-05-08 09:19] #1 closed

[2018-05-08 09:20] #2 closed, assigned to nobody

[2018-05-09 08:56] fatih opened #16 "Add method name to the log fields"
It's better to have a `method:foo` in our logs instead of logging `foo is called`. This makes it easy to follow logs for a given method

[2018-05-09 12:17] fatih opened #18 "Add e2e tests"
We should have some tests that spin up a droplet, installs the driver via cloudinit and then uses https://github.com/rexray/gocsi/tree/master/csc to test out the tests in real.

[2018-05-09 14:41] #7 closed, assigned to nobody

[2018-05-09 14:41] fatih commented on #7
@ritoon I've pushed to master some changes that uses linux tools to achieve it. let's see how that works, we can always change it if needed.

[2018-05-10 17:39] fatih commented on #4
fixed with: https://github.com/digitalocean/csi-digitalocean/releases/tag/v0.0.1

[2018-05-10 17:39] #4 closed

[2018-05-11 02:28] peterver opened #20 "Align k8s digitalocean token secret name with cloud-controller-manager"
There is a difference in the name between how digitalocean/cloud-controller-manager calls the secret that holds the k8s digitalocean token, and the way the secret is named here. Leading to two secrets with different names in k8s.

Is it possible to align these ?

[2018-05-11 06:33] fatih commented on #20
Hi @peterver

This is a valid concern. I'll change it to `digitalocean` so it's in sync with CCM because CCM was created before and the CSI plugin is still not widely adopted.

[2018-05-11 09:27] #16 closed

[2018-05-11 10:33] peterver commented on #20
@fatih we've got a use-case where we're using both CCM and CSI at the same time for persistent volumes and claims and it was just something I noticed :).  Thanks for the quick action !

[2018-05-13 23:49] peterver opened #24 "StatefulSet volume_claim_template does not provision volume"
We have a setup where we have 3 different namespaces : backend, frontend, data

The data namespace contains everything in regards to replicated mongo, percona, ... and the way these are replicated is through stateful sets with volume claims.

When trying to use a volume claim from this namespace the csi does not respond to any claims.

I checked and the csi is perfectly running (in the default nam

[2018-05-14 10:34] fatih commented on #24
Can you please provide a  an example YAML file on what you want to achieve? This is needed so I can reproduce it. Seems like this is somehow related to the storage class. Did you selected a storage class while deploying your workload? Maybe the storage class you deployed is not default and you forget to add one to your YAML files?

[2018-05-14 12:26] peterver commented on #24
Here's some more logs that could help :

[code]

[2018-05-14 14:15] peterver commented on #24
@fatih Looking at the following **csi-provisioner** logs I'm starting to think it's a dns issue

[code]

[2018-05-14 16:32] peterver commented on #24
@fatih I found a fix for the issue :

Here's my adjusted sections of the csi yml file:

**csi-provisioner-doplugin** :
[code]

**csi-doplugin** :
[code]

In general I added :

[code]

to both to allow for nameservers to be taken over from the host ( which enables the digitalocean nameservers as well )

[2018-05-14 16:42] peterver commented on #24
However another issue pops up now ( with the stateful set yml example ), here are some logs in case you feel like taking a stab ( I will too ) :

[code]

[2018-05-14 17:09] #20 closed

[2018-05-14 17:18] fatih commented on #14
this is fixed. Check out `deploy/kubernetes/releases`

[2018-05-14 17:18] #14 closed

[2018-05-14 17:27] fatih commented on #24
This is interesting because I don't see this error myself.  Are you using the example in our repo? Can you please remove the `hostNetwork` piece and just use the dns field and report back. I'm also going to test it now on my own cluster.

[2018-05-14 17:33] peterver commented on #24
Adding the dnsPolicy and hostNetwork chunk to the attacher resolves the attach issue I had. am now correctly creating pv claims and attaching to droplets. Still didn't get our stateful set working but at least it's sorta working now :).

Will rebuild the cluster and try without the hostNetwork adjustment, will also try with the example that is provided in this repo ( just to make sure that it's go

[2018-05-14 17:34] fatih commented on #24
@peterver the `hostNetwork` is because of the overlay network. I assume the overlay network you're using has some issues. Because using the hostnetwork is not something we should do. Hence my question :) Thanks for the DNS related issue though, I'll be checking it out. It's getting very late here, but I'll make sure I'm on this.

[2018-05-14 17:39] peterver commented on #24
@fatih I'm not making any adjustments to the host network in general. overlay network is flannel with the following yml ( https://raw.githubusercontent.com/coreos/flannel/v0.9.1/Documentation/kube-flannel.yml ) and i'm initializing the cluster with the following :

[code]

The setup is based on this tutorial from digitalocean : https://www.digitalocean.com/community/tutorials/how-to-create-a-kuber

[2018-05-14 17:57] peterver commented on #24
@fatih I guess my flannel overlay must use a faulty config :/ since hostNetwork is required for this to work on my side.

[2018-05-14 18:56] peterver commented on #24
for anyone else having issues with kube-dns working in regards to this : https://github.com/kubernetes/kubernetes/issues/23474

[2018-05-14 20:07] lxfontes opened #26 "Allow custom api url"
Similar to https://github.com/digitalocean/digitalocean-cloud-controller-manager/pull/90

[2018-05-15 08:48] #26 closed

[2018-05-15 09:17] fatih commented on #24
@peterver does it mean that you don't have to change the dns policy anymore with this fix?

[2018-05-15 09:47] #24 closed

[2018-05-15 15:03] peterver commented on #24
sure @fatih we're going to be using the csi in a staging environment soon with pvc's being created for a replicated mongo and a master/slave galera cluster ( we've got a cron job running for extra backups to spaces ), in case I find something out of the ordinary or something that's not working i'll open a new ticket. Consider me a tester ;)

[2018-05-15 15:04] fatih commented on #24
@peterver that's awesome. Feedback is always welcome, don't hesitate and I really appreciate it :) 👍

[2018-05-16 00:59] hcabnettek opened #29 "I get provisioning failed unable to authenticate"
I have a valid token, added as a secret per the docs. When I kubectl describe pvc/csi-pvc, I get the error message `StorageClass "do-block-storage": rpc error: code = Internal desc = GET https://api.digitalocean.com/v2/volumes?name=pvc-xxx&region=sfo2: 401 Unable to authenticate you`. doctl work with this token without issue.

[2018-05-16 07:25] fatih commented on #29
Hi @hcabnettek

Unfortunately I cannot reproduce it (I'm using the same secret and examples.)

Can you check out the logs of the provisioner and attacher? Example:

[code]

These will output in json format, you can pipe it to [humanlog](https://github.com/aybabtme/humanlog) to have a better representation, i.e:

[code]

[2018-05-16 09:58] peterver commented on #29
@hcabnettek can you log into kubernetes and see if your token has any content ? I had that happen where the secret was created but due to a nesting issue in my yaml file didn’t have any content

[2018-05-16 20:14] hcabnettek commented on #29
@peterver yes when I get the secret, pipe it to base64 --decode, it decodes to the correct key. I notice the namespace for the secret is 'kube-system' should it be 'default'?

[2018-05-17 07:26] peterver commented on #29
@hcabnettek in case you are using the 0.0.1 release, please set the secret in the default namespace :), in case you are using the 0.1 release it should be in the kube-system namespace.

[2018-05-17 08:34] fatih commented on #29
This is weird. Everything seems normal, I definitely think the CSI plugin gets a token that is not valid. Could it be that it's empty somehow?

What does the following gives you? :

[code]

[2018-05-17 13:07] peterver opened #30 "Feature Request : Allow created resources to have a name prefix"
At the moment when for example a volume is provisioned through CSI it gets assigned a name that is bound to be unique.

Such as pvc-123456789ewqioequwq

This approach works beautifully for a purely machine-based operator. But since there is no way to prefix a resource name it leads to confusion when looking at the digitalocean volumes list, especially when the volumes that are provisioned have dif

[2018-05-17 14:03] andrewsykim commented on #29
fwiw I had a similar problem and it was because I didn't update my secret properly. Make sure the key is also updated from `token` -> `access-token`.

[2018-05-17 15:10] fatih commented on #30
Hi Peter,

I've looked into it and I think this is something we can do. As I know the name is not unique and can be changeable easily. However I have to first check out what the best way would to set a prefix (such as via CSI parameters or arguments to the CSI plugin)

[2018-05-17 16:06] hcabnettek commented on #29
@fatih it seems to get it correctly
{
    "apiVersion": "v1",
    "data": {
        "access-token": "MGFlZGUyYWEwZWUzMGE5OWE3MjA4ZWFlN2Y0MGNkZjMzNzMxNWI0MWJmZDFlZTYwOGYyODkwNWQwMGU0ZDU0MQ=="
    },
    "kind": "Secret",
    "metadata": {
        "creationTimestamp": "2018-05-16T00:13:12Z",
        "name": "digitalocean",
        "namespace": "kube-system",
        "resourceVersion": "515778",

[2018-05-19 12:56] peterver opened #31 "Feature Improvement : Verify volume_limit when making a provisioning call to DO api"
I just had an issue when rolling out a production stack where I went over the volume_limit. (only allowed 10 volumes ... srsly ???).

I've raised the issue with the DO support line to have the limit for our account increased, because you really can't run any large stack with that limit :/.

This limit was also not checked in the CSI, hence my reasoning for opening a ticket here :).

[2018-05-21 16:21] fatih commented on #31
Hi @peterver

Thanks for the feedback. Unfortunately there is no way to check out the limits of a volume via our API. However I've raised this internally and our team is working on providing this primitive. We're also looking into other, viable solutions.

I'll keep this open until this is fixed in a meaningful way.

[2018-05-21 16:25] fatih commented on #31
/cc @andrewsomething

[2018-05-21 17:08] hcabnettek commented on #29
Closing this issue. I created a new droplet and cluster using centos and kubespray. Everything seems to work. The pvc is bound and the pv is created.

[2018-05-21 17:08] #29 closed

[2018-05-21 19:42] fatih commented on #30
So @peterver I looked into it, and this is doable via the `StorageClass` parameter:

[code]

And then in our `controller.go` we can do a:

[code]

However, I'm not sure how this would be helpful because the there is a single `StorageClass` option and therefore it's global and not bound to the `PVC` you're creating. I don't think there is a way to pass down any information from a `PVC` down to the

[2018-05-22 10:35] #10 closed, assigned to nobody

[2018-05-22 10:36] fatih commented on #8
Closing this as I don't think this is CSI related. Please feel free to open an issue if this doesn't happen with other CSI drivers, but happens only here. Again, the CSI driver doesn't know anything about any Kubernetes related policy or logic.

[2018-05-22 10:36] #8 closed

[2018-05-22 12:33] peterver commented on #31
Thank you @fatih, Happy to help in case you need any assistance in testing or a PR when time comes to do something about this in CSI :)

[2018-05-24 17:06] zarbis opened #32 "Intermittent MountVolume.MountDevice errors on Pod creation"
I've set up Rancher 2.0 cluster on DO to test CSI-DO. At first attempt i followed README.md and succeeded with example app. However after trying to do my own stuff I've started consistently getting Pod creation errors. To rule out the unknowns I've wiped all my stuff and returned back to example app and confirmed that i'm consistently getting this result:
[code]

However just after waiting for cou

[2018-05-25 14:35] zarbis commented on #32
I've experienced this problem again and here are my observations:
1) It never happens on fresh cluster with fresh nodes but starts happening after a while. Re-creating cluster with fresh nodes solves problem for a while.
2) `/dev/disk/by-id/scsi-0DO_Volume_pvc-*` is present on a droplet when this error occurs. I've tried to run `mkfs` command manually and result was either the same as in error mes

[2018-05-26 16:06] zarbis commented on #32
One more observation: some sort of ID mismatch happens when this issue arises.
This problem happened to me again, Pod has such event:
`Warning  FailedMount             7s (x5 over 17s)   kubelet, node-1          MountVolume.MountDevice failed for volume "pvc-910ee89c-60fc-11e8-ac9b-a22ee19381a6" ...<same mkfs error here>`

First I take a look at what k8s has to say about that PVC:
[code]
Looks goo

[2018-05-26 16:11] metalmatze opened #33 "Panic when deleting"
Hey, I already have 180 restarts on my pod `csi-provisioner-doplugin-0`.

Here are the logs:
[code]

I can send you the `node_id` or `volume_id` via Slack, in case you need them. I don't think so.

[2018-05-26 22:47] zarbis commented on #32
Small update to my observations:
1) at some point block device with wrong ID appears on node in `/dev/disk/by-id/`
2) Pod creation fails with `mkfs "The file <...> does not exist"` error
3) After this point node becomes "corrupted":
- if you remove PV, DO Volume gets detached but this faulty block device stays on node
- if you create new PV that lands on this node new DO Volume gets attached but i

[2018-05-29 20:27] fatih commented on #33
Thanks for the report @metalmatze. This is fixed with #34. I released a new version `v0.1.1` https://github.com/digitalocean/csi-digitalocean/releases/tag/v0.1.1 (also see https://hub.docker.com/r/digitalocean/do-csi-plugin/tags/). There is a new file under `deploy/kubernetes` which you can use.

[2018-05-29 20:27] #33 closed

[2018-06-19 08:43] Zatvobor opened #39 "Feature Request: Expanding Persistent Volumes Claims"
Hi there. As I can see, it is not implemented yet (maybe I'm wrong). I would like to ask you, what the priority of that? Also, would be great to see the project roadmap 👍

Thanks

[2018-06-20 22:34] dayuloli opened #40 "Stuck on "waiting for a volume to be created""
## Overview

I am trying to follow the instructions on the `README.md`, but am getting a `pod has unbound PersistentVolumeClaims` warning on the Pod, and a `waiting for a volume to be created, either by external provisioner "com.digitalocean.csi.dobs" or manually created by system administrator` message when I inspect the PVC.

## Details

### Environment

[code]

### Steps to Reproduce

I went to

[2018-06-20 23:51] dayuloli commented on #40
Not sure if relevant, but my `/var/lib/kubelet/plugins/com.digitalocean.csi.dobs` directory on my host machine is empty.

[2018-06-24 20:33] lxfontes commented on #40
hey @dayuloli, which DO region was this?

[2018-06-25 10:23] dayuloli commented on #40
Maybe I am missing something, but my understanding is that the provisioner will spawn new Volumes whenever necessary. Do I need to create the Volume beforehand? If not, where do I specify the DO Region in the manifest?

[2018-06-25 13:34] lxfontes commented on #40
Ah I see. Yes, it only works within a DO droplet ( as we need to attach a remote disk )

Locally you will rely on minikube's PVC provider.
I would try to create a PVC and not specify the `storageClass` in minikube, and it should work on csi-digitalocean as it register itself as default PV backend. ( ex: https://github.com/kubernetes/minikube/blob/master/test/integration/testdata/pvc.yaml )

[2018-06-25 13:45] dayuloli commented on #40
Alright I will give it a try tonight and update!

[2018-06-28 10:03] zarbis commented on #3
[code]
https://github.com/kubernetes/features/issues/554

[2018-07-02 15:23] fatih commented on #39
Hi @Zatvobor,

The CSI plugin doesn't know anything about Kubernetes related terms. What exactly do you mean by this request? Bonus points if you can provide some reproducible files for me.

[2018-07-05 06:31] fatih commented on #3
This is postponed until K8S v1.12 is out as the CSI integration is not included in v1.11

[2018-07-05 13:15] fatih commented on #32
@zarbis thanks for all the report. I know how frustrating this can be, so thanks for providing all this information.  It seems like the plugin might fail to attach the volumes to the droplets. There was an issue which was fixed here: https://github.com/digitalocean/csi-digitalocean/pull/34

This is released on May 29: https://github.com/digitalocean/csi-digitalocean/blob/master/CHANGELOG.md#v011-a

[2018-07-05 13:21] fatih commented on #40
@dayuloli any updates on this. Let me know so we can close this issue as resolved :)

[2018-07-19 14:53] rubenmch opened #41 "Files not persisted/written to block storage volume"
I have a kubernetes cluster setup using Rancher 2.0 (https://rancher.com/).

I followed the install instructions and created the Persistent Volume Claim and pod. I can see in DigitalOcean the volume is created and I can access the mounted directory in the busybox container shell and write files to it.

However when the pod is removed and a new pod is created using the same persistent volume claim,

[2018-07-25 08:35] fatih commented on #41
Hi @rubenmch thanks a lot for the feedback. Would you mind share some your example PVC and commands you have used?  I'll try to reproduce it, but the best way for me is to get some hands on on the actual data. Thanks!

[2018-07-25 13:41] rubenmch commented on #41
Hi @fatih, I used the examples from the readme:

1. Secret

[code]

2. Install csi-digitalocean (tried with version 0.1.0 and 0.1.1

`kubectl apply -f https://raw.githubusercontent.com/digitalocean/csi-digitalocean/master/deploy/kubernetes/releases/csi-digitalocean-v0.1.1.yaml`

3. Create PVC

[code]

4. Create pod

[code]

5. Connect to the pod shell (used the rancher UI with the Execute Shell op

[2018-07-25 14:00] rubenmch commented on #41
This is the full steps I took including installing rancher:

1. Created a digitalocean droplet for rancher
2. Add a rancher.mydomain.com dns entry with the droplet IP
3. Connected to the droplet using SSH, installed docker and then rancher with the following command:
[code]
4. Used the rancher ui (https://rancher.mydomain.com) to create a new Digitalocean cluster using my digitalocean api key.
5.

[2018-07-25 15:30] fatih commented on #41
Thanks for the information @rubenmch. I tried it myself and I couldn't reproduce it unfortunately. These are the things I've done:

1. Create the secret (just like you did above)
2. Create the PVC (just like you did above)
3. Create the POD (just like you did above)
4. Execed into the pod and wrote something to `/data/hello-world`

After this step, I checked the logs and everything was fine. Now a

[2018-07-25 19:34] rubenmch commented on #41
@fatih Thanks for the detailed instructions.

I did all the steps one by one, all using kubectl instead of the rancher ui, the logs seem similar to your logs but the directory is again empty after creating the new pod. Rancher was only used to create the cluster.

In the output of `ls -la` I see the time for the `.` and `..` directories in the `/data` directory is different between the first (17:5

[2018-07-26 09:13] fatih commented on #41
@rubenmch is is possible to get the logs from the `provisioner` as well? Here is the command for it:

[code]

The provisioner is responsible of creating and deleting volumes, whereas the attacher is responsible of attaching and detaching. One of my coworkers indicated this could be a problem of `shadowing`, but I yet didn't find a root cause. Still investigating.

[2018-07-26 09:57] fatih commented on #41
Something is wrong here, I see that the node plugin doesn't unmounts the target path  (from your logs), I only see these:

[code]

Note that all these start at `17:56:22`. Any log before these are the logs that were created during the creation of the pod. Here is the logs from my cluster when delete a pod:

[code]

If you look carefully, there additional logs line are present which are absent in y

[2018-07-26 12:17] fatih commented on #41
@rubenmch could you also share your Kubernetes version? you can get it via `kubectl version`

[2018-07-26 14:13] rubenmch commented on #41
@fatih Here is the kubernetes version:
[code]
I'll get the other logs and add them.

[2018-07-26 14:37] rubenmch commented on #41
@fatih Here are the logs after recreating everything in a new cluster. Only 4 lines are added to the plugin log after deleting the pod.

plugin log

[code]

attacher log

[code]

provisioner log

[code]

[2018-07-30 08:43] lohazo commented on #40
I have same issue on sgp1 region droplet running CoreOS.

[2018-07-30 18:07] rubenmch commented on #41
@fatih I created a new kubernetes cluster using Kontena Pharos and the csi-digitalocean driver worked as expected. The working pharos created cluster kubernetes version is v1.10.5.

In the Rancher FAQ they mention they provide their own kubernetes distribution so maybe it's an issue specific to the kubernetes distribution they use.

https://rancher.com/docs/rancher/v2.x/en/faq/

[2018-07-30 18:49] adi961 commented on #41
Hi, I have the same problem. I use rancher 2.0.6 and kubernetes 1.10.5. I also tried creating the pvc manually and deploying the test pod. No luck. Is there by any chance a different solution for pvc on digitalocean which I could use temporarily because I really need to get my cluster up and running. Best Adrian

[2018-07-30 18:52] lxfontes opened #42 "Reject claims with `ReadWriteMany`"
DigitalOcean Block Storage offering only supports `ReadWriteOnce`.
We should reject PVCs that requests different modes.

[2018-07-31 20:50] fatih commented on #41
Thanks @adi961 @praveenperera I'll try to setup a cluster via Rancher and do my testing there. Unfortunately I was not able to reproduce the issue with our own upcoming Kubernetes at DigitalOcean product. I'm on it, meanwhile, anything suspicious, logs (see above commands), etc..  would be helpful nevertheless.

[2018-08-01 07:50] roccolangeweg opened #43 "PVC fails to mount using RancherOS"
Hi,

When trying to create a PVC and attaching it, it fails due to the below error:

MountVolume.MountDevice failed for volume "pvc-2be219db-955f-11e8-9a13-e6af7cff535a" : rpc error: code = Unavailable desc = grpc: the connection is unavailable

Tried with both 1.10 and 1.11

OS: RancherOS 1.4
Kubernetes 1.10

[2018-08-01 16:29] fatih commented on #41
@adi961 @rubenmch @praveenperera Thank's all for the comments and feedback. After hours of debugging I finally found the issue and could reproduce it. I also found the underlying issue and a temporary fix for you folks:

TL;DR: mount propagation is disabled by default in Rancher

Long story:

`Mount Propagation` needs to be enabled for CSI plugins so the plugin can mount and bind mount the block s

[2018-08-01 16:29] #41 closed

[2018-08-01 16:46] fatih commented on #43
Hi @roccolangeweg

Please use Rancher `2.0.x` with this setting: https://github.com/digitalocean/csi-digitalocean#rancher-users The issue above seems to be a network issue and not a CSI specific problem. Let me know how this works out for you and please reopen if it doesn't solve your issue. Thanks!

[2018-08-01 16:46] #43 closed

[2018-08-01 17:03] fatih opened #45 "Add release schedule and workflow to Readme."

[2018-08-01 21:25] roccolangeweg commented on #43
Hi @fatih,

I've recreated the cluster adding the described info to the Rancher Cluster Options YAML file. Unfortunately, I'm still running into the same error.

[2018-08-01 21:26] roccolangeweg commented on #43
[code]

[2018-08-07 07:30] fatih commented on #43
@roccolangeweg please try this out on a new Rancher cluster at least `v2`. Unfortunately I can't do much here because I don't work for Rancher. I suggest to open an issue on Rancher to see why these flags are not enabled or not.

[2018-08-13 09:29] lohazo commented on #32
Still got same error in `0.1.3`

![1____projects_kubernetes_digitalocean-k8s_echo-server__zsh_](https://user-images.githubusercontent.com/6048013/44023853-d1bc4718-9f15-11e8-8efe-ea0d1d740ffc.png)

[2018-08-13 15:16] fatih commented on #32
@lohazo this is a completely different error. Can you please open a new issue with your Kubernetes version and the steps you did seeing this. Thanks

[2018-08-13 15:18] fatih commented on #32
@lohazo also please provide these information:

[code]

[2018-08-13 22:15] fatih opened #53 "Change container/k8s resources to a consistent name schema"
Daemonset name: `csi-doplugin`
Container name: `csi-doplugin`

Statefulset name: `csi-attacher-doplugin`
Container name: `digitalocean-csi-plugin`

Statefulset name: `csi-provisioner-doplugin`
Container name: `digitalocean-csi-plugin`

Our image name: `digitalocean/do-csi-plugin`

---

Currently these are the names we're using and it's confusing. We should name them consistently.  Suggestions:

*

[2018-08-14 03:06] lohazo opened #54 "MountVolume.MountDevice failed for volume "<VOLUME>" : rpc error: code = Unavailable desc = grpc: the connection is unavailable"
Kubernetes `1.10.5` running on `CoreOS` install by `rke`.
I follow step in https://github.com/digitalocean/csi-digitalocean
and result:

![1____downloads_terraform__zsh_](https://user-images.githubusercontent.com/6048013/44069542-79f42944-9fa9-11e8-8461-ec52499de4cc.png)

Some information:
![1____downloads_terraform__zsh_](https://user-images.githubusercontent.com/6048013/44069092-754f60c2-9fa7-11

[2018-08-14 03:06] lohazo commented on #54
@fatih I just open a new issue here

[2018-08-16 02:09] lohazo commented on #32
I created new issue #54 can you take a look @fatih

[2018-08-18 04:03] drozzy opened #57 "Docker swarm mode examples?"
Has anyone used this with docker swarm mode?
Will it work and if yes, could someone provide an example in a stack file?

Thank you very much.

[2018-08-18 13:41] peterver opened #58 "csi-doplugin daemonset pods fail to start after upgrade to 0.1.3"
We've been running the CSI fine for the past 3 months, but since about a week suddenly one of our pvc's got disconnected on DigitalOcean ( not attached to the droplet anymore ).

The CPU and Memory suddenly started spiking on that particular droplet due to the csi-provisioner trying to fix the issue :

[code]

( this is about the 300th restart of the csi-provisioner plugin pod, all with the same o

[2018-08-18 14:04] peterver commented on #58
After updating the DaemonSet from 0.0.1 to 0.1.3 our entire csi-doplugin is now failing to start up ( all 4 pods ) are now giving the following output :

[code]

[2018-08-18 14:35] peterver commented on #58
Ok I managed to make both the csi-attacher and the csi-provisioner stateful sets work. But the daemonset is continuing to go intro crash mode :/

[2018-08-18 14:56] peterver commented on #58
I just ran a describe on one of the csi-doplugin pods :

[code]

[2018-08-18 15:11] peterver commented on #58
Okay @fatih it appears it's the quay.io driver-registrar that is failing to boot up :

here's an output from **kubectl logs -l app=csi-doplugin -c driver-registrar -n kube-system**

[code]

[2018-08-18 15:35] peterver commented on #58
@fatih I took a look at another issue that was opened recently, this could be the same as #54

[2018-08-21 00:25] davidhiendl commented on #32
I can confirm the original issue, funny enough I can reliably reproduce it by mounting multiple DO volumes in a single pod simultaneously. Mounting other volumes like CephFS/RBD/HostPath alongside does not seem to cause the issue. I first noticed this while migrating/restoring data from an other cluster.

Event Log:
[code]

[2018-08-22 00:37] thomas commented on #32
Experiencing the same issue: https://github.com/confluentinc/cp-helm-charts (just as an example) does not appear to work with the csi plugin largely because it mounts two volumes for the zookeeper instance. The plugin will fail to attach the volume to the node, and manually attaching does not correct the issue.

[2018-08-22 08:20] fatih commented on #54
@lohazo can you please provide example PVC and POD manifests so I can try them out. What exactly did you created?

[2018-08-22 09:42] fatih commented on #32
I tried the following setup, where a pod is referring to *two* volumes. They will be mounted to two different mount paths:

pod.yaml:
[code]

pvc-multiple.yaml:
[code]

This is the events I see when do a `kubectl describe pods my-csi-app`:

[code]

Everything works fine in this scenario. Gonna try out other kind of setups. Please let me know if the one you're using is similar to this. Also I would

[2018-08-22 09:52] fatih commented on #32
Alright, found a way to make it fail with the following setup:

pod.yaml:

[code]

pvc.yaml:
[code]

Seems like, it happens if it's mounted under a sub directory under the same root. Such as `/data/foo` and `/data/bar`. It doesn't fail if it's `/foo` and `/bar`.

[2018-08-22 10:27] lohazo commented on #54
I follow step in: https://github.com/digitalocean/csi-digitalocean
PVC:
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: csi-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: do-block-storage

POD:
kind: Pod
apiVersion: v1
metadata:
  name: my-csi-app
spec:
  containers:
    - name: my-frontend
      image: busybox
      volume

[2018-08-22 10:39] davidhiendl commented on #32
Thanks for following up on this. My setup was with volumes mounted under a common ancestor.
Here is my pod manifest that experiences this issue (pvc and mount names replaced):
[code]

PVCs look similar to this (I have a different name for the the storage class than you because we are using a custom helm chart instead of manually deploying as described in this repo).
[code]

[2018-08-22 11:44] fatih commented on #32
I found the issue, which is a race condition that could happen very often due how the DigitalOcean API works. This is fixed with https://github.com/digitalocean/csi-digitalocean/pull/61 I tested it and it works fine.

I pushed a new image to test with the version `:dev`. You can update the `attacher` component with the following command:

[code]

The above command should replace the current image

[2018-08-22 18:10] Azuka commented on #32
@fatih, I just tested and still see the same error.

[code]

[2018-08-22 18:26] fatih commented on #32
@Azuka can you please try this example: https://github.com/digitalocean/csi-digitalocean/issues/32#issuecomment-414978118 if not please provide your manifests in full deployable version so I can test it myself. This might be or not the same error. Thanks!

[2018-08-22 18:34] Azuka commented on #32
@fatih I'm using the postgres helm chart which mounts at `/var/lib/postgresql/data/pgdata`. See https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml#L71

[2018-08-22 18:36] fatih commented on #32
Thanks @Azuka. I never used helm, is the link you provided something I can deploy via Kubectl or is it a template we need to convert first?

[2018-08-22 18:42] Azuka commented on #32
@fatih I just exported the templates. Please see below:

[code]

[2018-08-22 19:00] Azuka opened #62 "Is there support for force deleting persistent volumes?"
I'm experiencing #32 on only one pod (a similar one works), so I tried to delete the persistent volume claim, then force delete the persistent volume itself (a manual delete didn't work and it's been stuck Terminating for more than an hour).

From the logs I see:

[code]

which stays in place even when I detach the volume and delete manually. Is there any way to "pure" a persistent volume? Thanks!

[2018-08-22 19:01] fatih commented on #62
You can do a `kubectl edit resource` and then remove any `finalizers`. It's probably stuck at that level.

[2018-08-22 19:59] Azuka commented on #62
Thanks, that worked!

[2018-08-22 19:59] #62 closed

[2018-08-22 20:26] Azuka commented on #32
Detailed actions if it helps (I'm using a new volume now).

* I deployed Elasticsearch to a cluster without checking resource limits. This caused most nodes to go out of commission
* I added a new node to the cluster, drained the node with the problematic pods and deleted the entire namespace, ie
[code]
* Deleted pods with volume claims. One postgres pod recovered, one didn't.
* Set pod tag to dev

[2018-08-23 06:04] #45 closed

[2018-08-23 06:08] fatih commented on #32
We should focus on a simple use case for everyone and go from them. It seems like not all of us here in this issue have the same issue. The fix for the race condition is fixed now, please let us templates that are simple to follow and let's start from there, otherwise it's very hard to track for me everyone's private or public manifests. I'll release a new version (v0.1.4) now and then let's start

[2018-08-23 06:19] fatih opened #64 "Include vendor version in each log"
The version is not available in the logs and it makes it hard to see at a glance which version is used. Sometimes the image is not updated at all but we might think we use the latest version. Having the version as a key-value field in the logs would be useful.

We should add a `version` field to the following line:

https://github.com/digitalocean/csi-digitalocean/blob/master/driver/driver.go#L89

[2018-08-23 06:31] fatih commented on #57
Unfortunately, there are no docker swarm mode examples. Currently, our main focus is to support Kubernetes. I'll update the README.md in the future for other CO's. Thanks!

[2018-08-23 06:33] fatih commented on #58
Thanks @peterver This seems to be a bad deployment going on. Can you please remove all the pieces and deploy the latest `v0.1.4`?

https://github.com/digitalocean/csi-digitalocean/blob/master/deploy/kubernetes/releases/csi-digitalocean-v0.1.4.yaml

I'll check #54, it's on my queue :)

[2018-08-23 08:50] sayhell commented on #32
I run the case https://github.com/digitalocean/csi-digitalocean/issues/32#issuecomment-414978118  and still got the same error:

[code]

[2018-08-23 08:52] fatih commented on #32
@sayhell true, the issue is not the mount path at all. A fix was pushed, can you please try `v0.1.4` :   https://github.com/digitalocean/csi-digitalocean/blob/master/deploy/kubernetes/releases/csi-digitalocean-v0.1.4.yaml

[2018-08-23 09:04] fatih commented on #32
Can anyone here comment please after updating to `v0.1.4`, cleaning up everthing and do a clean deploy with the setup here: https://github.com/digitalocean/csi-digitalocean/issues/32#issuecomment-414978118

There is a race condition that can happen if there are multiple request against a Droplet. We fixed it with `v0.1.4` now and it should be good to go. However, there might be other issues we mig

[2018-08-23 09:14] sayhell commented on #32
I clean up my StorageClass and recreate with `v0.1.4`. weird result:

[code]

One of the volume has been mount successe, and the other one is failed.

[2018-08-23 09:35] sayhell commented on #32
*attacher.log*
[code]

*provisioner.log*
[code]

*node.log*
[code]

[2018-08-23 10:03] fatih opened #67 "Prevent "make publish" if branch is not "master""

[2018-08-23 10:13] fatih commented on #42
PR with explanation is opened: https://github.com/digitalocean/csi-digitalocean/pull/68

[2018-08-23 13:44] peterver commented on #58
I'm occupied with some other items at the moment but will test removing the components and updating to v0.1.4 over the weekend :). Will let you know how it goes @fatih

[2018-08-23 13:46] peterver commented on #54
@lohazo could you ( whenever you find the time to :) ) go into the kube-system namespace and see if any of the pods/deployments in regards to the csi are not booting up correctly ?

[2018-08-24 01:59] drozzy commented on #57
Maybe replace with: "with Kubernetes".

[2018-08-24 07:09] fatih commented on #57
Sure, but this doesn't main that it's not meant to be used with others. If any other CO supports the CSI plugin, somehow is still able to use it. What I mean is that our _focus_ is currently supporting Kubernetes, it doesn't mean the CSI is only meant for Kubernetes. Hope this clarifies it better :) Thanks again for the feedback

[2018-08-24 08:19] lohazo commented on #54
@peterver seem like everything is running well :)
![1____projects_kubernetes_digitalocean-k8s__zsh_](https://user-images.githubusercontent.com/6048013/44573489-fddcf880-a7b0-11e8-8ebd-3cfdfd6420cf.png)

[2018-08-24 09:46] peterver commented on #54
okay @fatih looks like this one has nothing to do with #58 then

[2018-08-25 06:51] drozzy commented on #57
I just wish you supported Docker Swarm Mode (it is way better than old swarm, and much easier to learn than K8s).
Thanks for the explanation.

[2018-08-25 11:46] peterver commented on #58
@fatih After trying to just remove the components and reinstall it didn't resolve the issue :/ the daemonset kept restarting. So i decided to tear down and rebuild, fresh install worked like a charm.

It must have been something wrong with the cluster internally, because when I did the upgrade from 0.1.0 to 0.1.4 on a different cluster that we had running, no issues whatsoever :/.

I'll close this

[2018-08-25 11:46] #58 closed

[2018-08-26 21:15] lucasecdb opened #69 "PersistentVolumeClaim stuck at "pending" state"
### What did you do?
I've initialized my cluster with `kubeadm init --pod-network-cidr=192.168.0.0/16` and followed the instructions provided in the README, stopping after the creation of the pvc.

### What did you expect to happen?
For the PV to be created.

### Configuration:
My PVC configuration:
[code]

* CSI Version: v0.1.4

* Kubernetes Version: v1.11.2

[2018-08-27 06:51] fatih commented on #69
Thanks @lucasecdb

Can you please provide the following logs:

[code]

Also, you didn't provide the full manifest of your setup. I wrote it here: https://github.com/digitalocean/csi-digitalocean/blob/master/.github/ISSUE_TEMPLATE.md but seems like it was neglected. So who uses this PV? If it's a deployment you should also provide it or you should provide something that is similar and still doesn't

[2018-08-27 07:04] #67 closed

[2018-08-27 07:12] #42 closed

[2018-08-27 07:32] #64 closed

[2018-08-27 13:40] lucasecdb commented on #69
@fatih sorry about the manifests, I thought that only the pvc was sufficient, my full setup looks like [this](https://gist.github.com/lucasecdb/fa17b8de9d8c0adf4b5bc16c14c10760).

The image my deployment is using isn't exactly the `postgres` as in the gist, but a custom one that's on a private registry (GCR), but it's basically the same, diffing only in the DB schema that's contained in the image.

[2018-08-28 23:57] lucasecdb commented on #69
@fatih sorry that it took so long to get back, but the logs didn't return anything. I'm pretty sure I ran the correct command to install the csi (and even updated it now, with v0.1.5) and still it doesn't seem to have anything in the logs.

[2018-08-29 05:56] fatih commented on #69
@lucasecdb that's interesting. What's:

[code]

gives you ?

[2018-08-29 16:50] lohazo commented on #54
@fatih I upgraded to 0.1.5 but still not work
![1____projects_kubernetes_digitalocean-k8s_echo-server__zsh_](https://user-images.githubusercontent.com/6048013/44802575-4d268d00-abe6-11e8-9cc9-fd5aeefe3fa1.png)

[2018-08-29 21:37] akastav commented on #54
+1

[2018-08-30 09:33] lucasecdb commented on #69
@fatih here's the output

[code]

[2018-08-30 09:36] lucasecdb commented on #69
And here are the logs of both pods

[code]

[2018-08-30 10:35] lucasecdb commented on #69
I'm getting an error when trying to dump the cluster info, I'll search for a fix. Here's the output for the first 2 commands:

[code]

[2018-08-30 10:40] fatih commented on #69
@lucasecdb seems like Kubernetes is not able to schedule any pods to your nodes. Did you somehow `taint` them (make them unschedulable) ? Because that's what happening here. Can you run:

[code]

You should see the node maybe is not ready. Do a `describe` to the nodes to see what is happening to them. The issue here is that you couldn't deploy the plugin correctly.

[2018-08-30 10:47] lucasecdb commented on #69
I don't think I did that, I'm still learning kubernetes and this is actually my first try at deploying an app.

[code]

The first lines in the output of the `describe`:

[code]

[2018-08-30 10:53] fatih commented on #69
@lucasecdb alright. So first of all, having a cluster with a single node is a bad idea for kubernetes. The reason this node is tainted because it's acting as a `master`. Please see this issue: https://github.com/kubernetes/kubernetes/issues/65473

Because there are no other nodes, k8s is preventing to schedule anything here. You can manually remove the taint via:

[code]

And everything should sta

[2018-08-30 10:53] #69 closed

[2018-08-30 10:58] lucasecdb commented on #69
@fatih Thanks for taking the time to help me out!

[2018-08-30 14:49] lxfontes commented on #31
added `volume_limit` to our api, gonna patch godo next.

[code]

There is a caveat tho: some accounts (mainly administrative ones) might not include a `volume_limit`. In that case, go will parse it as `0` (zero). We should not run any volume limit checks when `volume_limit=0`.

[2018-08-31 08:35] fatih commented on #40
I'm closing this as there is not much information to track this down. @lohazo please open a new issue by following the instructions (you'll see them when you open the issue) so we can debug your issue separately. Thanks.

[2018-08-31 08:35] #40 closed

[2018-08-31 08:36] fatih commented on #3
This is now implemented via Spec `v0.3.0` and is merged to master: https://github.com/digitalocean/csi-digitalocean/blob/master/driver/node.go#L300 (was part of #72 ). I'll keep it open though to see if it indeed works in `v1.12`.

[2018-08-31 08:40] fatih commented on #32
Lately, we introduce many fixes, one of them that also fixes this issue (see: https://github.com/digitalocean/csi-digitalocean/pull/61). The problem @sayhell had was an internal DO issue, which has been resolved (thanks @sayhell for providing access to your cluster).

I'm closing this issue as it's very hard to track multiple issues in a single GH issue. If any of you still see this, even after up

[2018-08-31 08:40] #32 closed

[2018-09-05 08:28] #53 closed

[2018-09-11 00:49] lxfontes commented on #30
pls consider consistency with
https://github.com/digitalocean/digitalocean-cloud-controller-manager/issues/102

[2018-09-11 10:42] fatih opened #78 "Switch from dep to Go modules"
With Go v1.11, Go modules is now an experimental mode integrated into the Go toolchain. It allows native dependency management without the need of an additional tool. Also Go modules allows us to develop the plugin without the need of a GOPATH, which makes it easier for first-time contributors or Go users. In overall it has many benefits compared to other tools.

[2018-09-11 14:43] fatrix opened #79 "AttachVoume.Attach failed for voume: node has no NodeID annotation"
### What did you do?
* Installed csi-digitalocean-v0.2.0 on Kubernetes 1.11.2
* Created PersistentVolumeClaim
* Added volume to a Pod

### What did you expect to happen?
* Volume is mounted into Pod

### What happend

* DO volume is created

* v1/PersistentVolumeClaim is bound

    my-volume1  Bound   pvc-xxxx   5Gi       RWO           do-block-storage  48m

* Pod does not start

    AttachVolume.

[2018-09-11 14:45] fatih commented on #79
Can you share the logs please? It's lacking. It was part of the issue template. If you can't share the full logs please share the following:

[code]

[2018-09-11 14:49] fatrix commented on #79
Sorry ok, this output is less smaller: https://gist.github.com/fatrix/a1f3db1471920b67bfdca2db4df39f2c

[2018-09-11 14:54] fatih commented on #79
It seems like it can't mount it to the node. Is it possible some of your nodes are unhealthy? what does this give:

[code]

Or better please share the following command:

[code]

or share the kubeconfig with me (mail: farslan at digitalocean dot com) so I can debug it. Thanks

[2018-09-11 19:19] fatrix commented on #79
Thank @fatih for your support. Nodes are looking good:

    kubectl get nodes -o wide
    NAME                   STATUS    ROLES     AGE       VERSION   INTERNAL-IP       EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION              CONTAINER-RUNTIME
    kubernetes-master-ng   Ready     master    4d        v1.11.2   46.101.160.145    <none>        CentOS Linux 7 (Core)   3.10.0-862.2.3.el7.x86

[2018-09-11 19:55] fatrix commented on #79
I see that the csi pod on my first node has problems, it seems like in the issue #58.

    $ kubectl logs csi-do-node-6p2hs -c driver-registrar --namespace=kube-system
    I0911 19:53:36.298644       1 main.go:120] Version: v0.3.0-0-g8dd4550d
    I0911 19:53:36.298726       1 main.go:135] Attempting to open a gRPC connection with: "/csi/csi.sock"
    I0911 19:53:36.298737       1 connection.go:68]

[2018-09-13 22:29] ZachGlassman opened #81 "Attachment Issues"
### What did you do? (required. The issue will be **closed** when not provided.)
Had problems attaching and detaching pods along with some odd 500 errors during what we later figured was an API outage for Digital Ocean.  We were deleting pods with PVC and creating new pods with PVC and recieving problems with almost all actions.  We were also left in a state where the CSI resources seem to be tryi

[2018-09-14 08:29] #18 closed

[2018-09-14 15:47] fatih commented on #81
Thanks @ZachGlassman for the information. Unfortunately the logs are missing. I'm asking for all logs because there is not much I can do with the logs you provided. Please give me all logs via :

[code]

If you don't want to share the logs publicly you can email it to me: fatih at digitalocean dot com. If you feel comfortable, you can also share the kubeconfig with me, that would be the best.

Tha

[2018-09-17 09:56] fatrix commented on #79
Everything is working now.

* allow-privileged flag was not set for kubelets. I had to add `--allow-privileged=true` in  `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` for `KUBELET_KUBECONFIG_ARGS` and then `systemctl restart kubelet`
* shared mount was already allowed.

[2018-09-17 09:56] #79 closed

[2018-09-17 09:58] fatih commented on #79
Thanks @fatrix for the kubeconfig. I looked into it and indeed one of the nodes is problematic. It seems like the registar is not able to connect to the node-plugin. However the node-plugin seems to work fine, though there are no logs! This is very interesting.

For your questions above:

1. You need to add the following flag to your kubelet configuration:

[code]

I think this should be already e

[2018-09-17 09:58] fatih commented on #79
@fatrix I was just writing a comment and saw that you also commented.  Thanks for letting us know, much appreciated.

[2018-09-18 08:59] fatih commented on #54
@lohazo @akastav does this problem still exist? It seems like kubelet cannot talk to the node plugin, which might be the case if you don't setup kubelet to be used in `allow-privileged` mode.

Please also update to latest `0.2.0` version, if it's still not working, would be happy if you can send me your kubeconfig so I can debug it, here is my email: fatih at digitalocean dot com

[2018-09-18 09:06] fatih commented on #39
Closing this due to the lack of feedback. Please feel free to reopen if needed. Thanks.

[2018-09-18 09:06] #39 closed

[2018-09-18 16:48] marinintim opened #83 "DO client plugin uses private network, unable to reach DO API"
### What did you do?

Created a cluster in DO with private networking between the nodes, using private IP as apiserver advertising address, then followed the instructions in the README (created secret, applied yaml, created csi-pvc).

After that PVC exists, but PV doesn't get created, and claim remains in the pending state indefinitely .

### What did you expect to happen?

PV gets created.

### C

[2018-09-22 14:53] naarani opened #84 "strange log from stateful pod"
### What did you do? (required. The issue will be **closed** when not provided.)
I was just testing some installation on DO + K8s
2 worker with 8 giga ram and an elasticsearch cluster with blockstorage
after some day I stressed the cluster and elasticsearch get out of controll

### What did you expect to happen?
i thought the stateful pod could crash and restart, but not asking to format the block

[2018-09-23 19:29] dzerhusen commented on #54
Im facing the same Error. --allow-priviliged is set in api and kubelet.

[2018-09-27 22:51] feluxe opened #85 "Connect existing block storage volumes?"
Hi there,

is it possible to use *csi-digitalocean* to connect a kubernetes pod to an existing block storage volume?

I looked at the docs, examples and the issues, but I couldn't find anything related to this.

[2018-09-28 07:40] Richard87 commented on #85
Following (I'm also interested in this, specifically in a recovery, how do I reattach volumes to a new cluster if necessary?)

[2018-09-28 08:39] feluxe commented on #85
I was using the [stackpoint digitalocean provisioner](StackPointCloud/digitalocean-flex-volume) before and there you could select a volume via `VolumeName` and `VolumeID` in a `PV` and add a `claimRef` to bind a `PVC` to the `PV`. The configs for it looked like [this](https://github.com/StackPointCloud/digitalocean-flex-volume/issues/7#issuecomment-378089475). It worked quite well.

[2018-09-28 14:31] cgroschupp commented on #54
I got the same error with `rancheros`, I think it's the same problem as with `coreos`.
https://github.com/rancher/longhorn/issues/198

After adding `extra_binds` to the Kubelet service, everything works.
[code]

[2018-09-30 06:47] Barvoj opened #86 "driver name com.digitalocean.csi.dobs not found in the list of registered CSI drivers"
### What did you do? (required. The issue will be **closed** when not provided.)
* Created new Kubernetes cluster (v1.12.0) with one master, one worker and calico network using kubeadm
* Installed csi-digitalocean-v0.2.0 using instructions in readme.md
* Created PVC csi-pvc in section **3. Test and verify** of instructions
* Created POD my-csi-app
* Pod is in state ContainerCreating with this even

[2018-10-01 20:17] fatih commented on #85
This is not currently possible with the CSI plugin because there is no way to pass down metadata (i.e `annotations`). If that would be possible, we could pass down the existing volume name via the PVC, such as:

[code]

Then our CSI plugin could read the annotations and decide **not** to create a new volume and instead re-use the existing volume.

There is an open issue that tracks this feature in

[2018-10-06 09:56] Grishy commented on #54
How did you install --allow-privileged?
Added to /etc/systemd/system / kubelet.service (CentOS7)

[2018-10-08 15:00] #85 closed

[2018-10-08 22:05] feluxe opened #88 "com.digitalocean.csi/format: "true" dangerous?"
I just came across this new example on [how to use existing volumes](https://github.com/digitalocean/csi-digitalocean/tree/master/examples/kubernetes/pod-single-existing-volume)

I'm glad this works now! But I'm worried about this part:

[code]

I'm not aware of the internals, but formatting existing volumes by default seems very harsh ;-).
Wouldn't it be better if existing volumes would **not** b

[2018-10-08 23:24] did opened #89 "Unable to mount a volume in a pod"
### What did you do?

Just followed the instructions from the CSI-DO readme file in order to add a volume to a pod.

### What did you expect to happen?

I should have a pod with the running status and a working mounted volume.
Instead, my pod is in the `ContainerCreating` status.

Note: The Volume has been correctly created and I can see it in the DO back-office.

### Configuration:

* system logs

[2018-10-15 06:31] dbogatov opened #90 "Something wrong with roles and accesses"
### What did you do? (required. The issue will be **closed** when not provided.)

Followed README instructions.

### What did you expect to happen?

Volume provisioning when PVC is created.

## What happened?

Nothing got provisioned, with no apparent error.

The clue is in the provisioner container log:

[code]

### Configuration (**MUST** fill this out):

Dump is too big for gist.
Let me know if

[2018-10-15 07:08] fatih commented on #90
@dbogatov which version do you use and how did you installed it?

[2018-10-15 07:09] fatih commented on #90
@dbogatov also please provide the k8s version you're using

[2018-10-15 07:09] dbogatov commented on #90
[code]

Installed with Typhoon.

[2018-10-15 07:14] fatih commented on #90
Alright, so the issue is that you're using an old Kubernetes version. The ClusterRoles were added in 1.10.5 (https://github.com/kubernetes/kubernetes/pull/65073) so that's the minimum version we're require (also written in our README: https://github.com/digitalocean/csi-digitalocean#installing-to-kubernetes)

You're using `v1.9.1` which is old compared to what we require. Closing this now. Feel fr

[2018-10-15 07:14] #90 closed

[2018-10-15 07:37] fatih commented on #86
Thanks for the feedback. Seems like CSI spec is broken in v1.12.0. The way of registration of drivers have changed. We already have `NodeGetID()` and `NodeGetInfo()`. I'm looking into now and will post more about it.

[2018-10-15 07:50] fatih commented on #88
Hi @feluxe

Thanks for the feedback.  First of all, seems like there is a typo in the readme. It should be the following:

[code]

I'm going to update it now. Second, this is only for existing volumes that you want to use with your cluster. The problem is, there is no way that the driver knows whether you're using an existing driver or it was created by the driver and is new. The only way to signa

[2018-10-15 08:47] fatih commented on #89
It seems like the controllers are not able to authenticate to the API:

[code]

This is probably because your token is not valid anymore. Can you please double check it indeed works? A way to quickly test it to call the following commands (assuming you have [doctl](https://github.com/digitalocean/doctl) and [jq](https://stedolan.github.io/jq/) installed):

[code]

[2018-10-15 09:02] fatih commented on #86
Here are the steps needed to make the changes for `v1.12.0`: https://kubernetes-csi.github.io/docs/Setup.html

[2018-10-15 09:32] fatih commented on #89
@did is there any chance it's because you created a custom cluster with private networking? There is another open issue here: https://github.com/digitalocean/csi-digitalocean/issues/83 which seems to be related to yours.

[2018-10-15 09:34] fatih commented on #81
From the logs of the initial comment, it seems like it's due this error:

[code]

@ZachGlassman does the problem still exists, please let me know.

[2018-10-15 12:06] fatih commented on #89
Btw, if you can give me your kubeconfig (my email fatih at digitalocean com), I can also debug it myself.

[2018-10-15 12:06] fatih commented on #81
Btw, if you can give me your kubeconfig (my email fatih at digitalocean com), I can also debug it myself.

[2018-10-15 12:09] did commented on #89
@fatih thank you so much for your help! Unfortunately, I've just deleted my DO K8s cluster this morning :-( (I'm testing now AWS for my K8s cluster).
I'll try to get back to work on my DO installation later this week. Sorry about that :-(

[2018-10-15 12:13] fatih opened #92 "Test Topology awaraness feature"
We added basic functionality for Topology but never had the chance to test it against a k8s cluster. With K8S v1.12.x this is now enabled:

https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/

[2018-10-15 12:14] #92 closed

[2018-10-15 12:57] fatih commented on #89
@did no worries! Looking forward to fix the issue you have :) If you can reproduce and give me access that would be wonderful, I'm also checking it myself meanwhile.

[2018-10-16 11:19] fatih commented on #84
Hi @naarani

Which patch version do you use for Kubernetes? Is it plain `v1.10.0` or something else? Our recommended minimum version is `v1.10.5` due the many bug fixes and improvements that were introduced later.  It seems like the block storage was deleted and the pod was scheduled to a new node, where a new volume would be expected, but couldn't be found (hence the error `does not exist and no

[2018-10-16 11:44] fatih commented on #54
Can anyone here that has still the problem send me their kubeconfig so I can debug it ? (email: fatih at digitalocean dot com). I'm not able to reproduce it, need a way to reproduce it or a cluster I can debug.

[2018-10-16 14:18] naarani commented on #84
Actually in production we save data on a share via NFS, and we use block storage only on testing nodes.

On testing nodes we've v1.10.0, I'll need to upgrade it, install 1.11.0 or 1.12.0:
however I'm in the queue of digitalocean to test K8s :-) waiting for an invite, so I think I will move to the next version when we'll test do k8s, thx

[2018-10-16 14:18] #84 closed

[2018-10-17 03:55] mwthink commented on #89
@fatih I'm currently experiencing this issue on DO, am running with private networking enabled.

[2018-10-24 16:27] badri opened #93 "Able to create volume, but unable to mount it to pod"
### What did you do? (required. The issue will be **closed** when not provided.)

I tried to create a new DO storage class using this plugin for my OpenShift 3.10 cluster.

### What did you expect to happen?

A new volume gets created and mounted to the pod.

### Configuration (**MUST** fill this out):

[code]

* system logs:

from pod:

[code]

from web console:

[code]

Please provide the follow

[2018-10-27 15:10] devfelipereis commented on #81
I also have a issue when trying to upgrade my app.

![deepinscreenshot_select-area_20181027120942](https://user-images.githubusercontent.com/5348752/47605773-3bdcdf80-d9e1-11e8-813b-e5fe3055dadc.png)

I deployed a simple ghost blog and it's working good. Then I tryied to upgrade and I'm getting this errors.

[2018-10-29 09:43] #78 closed

[2018-10-31 10:21] fatih commented on #86
This is now fixed with our latest `v0.3.0` release. Here is the changelog for it: https://github.com/digitalocean/csi-digitalocean/blob/master/CHANGELOG.md#v030---20181029

And here is the deployment file: https://github.com/digitalocean/csi-digitalocean/blob/master/deploy/kubernetes/releases/csi-digitalocean-v0.3.0.yaml

[2018-10-31 10:21] #86 closed

[2018-10-31 10:30] fatih commented on #83
I just created a cluster with private networking and wasn't able to see any issues:

[code]

If you can provide me more information or give a kubeconfig for debugging that would be helpful.

Or you can try it yourself. You can exec into the provisioner pod and run the command from there? Here is an example on you can do it

1. First get your secret (we'll need it soon):

[code]

2. Exec into the c

[2018-10-31 10:32] fatih commented on #89
@mwthink @did can you both try the steps written here:
https://github.com/digitalocean/csi-digitalocean/issues/83#issuecomment-434637190 I tested it myself with no issues, but I'm curious what the main reason is.

[2018-10-31 10:37] fatih commented on #81
@devfelipereis can you please open a new issue with exact reproducible case (like how did you deployed Ghost?) Not sure if it's related to this or not.

[2018-10-31 12:19] devfelipereis commented on #81
@fatih sure... When I come back home I'll create it.

[2018-11-03 16:56] JoschaP commented on #93
+1

[2018-11-04 14:54] devfelipereis opened #98 "Error when upgrading workload"
### What did you do? (required. The issue will be **closed** when not provided.)
I deployed a blog app using ghost and everything ok here.
Then I did an upgrade just setting a new env value and at this moment I got an error to attach the volume.

### What did you expect to happen?
To upgrade without error when attaching and detaching volumes.

I'm using Rancher 2.0.8

### Configuration (**MUST** f

[2018-11-04 15:08] devfelipereis commented on #98
I also tryed to deploy mysql and I got this:

![mysql](https://user-images.githubusercontent.com/5348752/47965787-71617880-e032-11e8-8667-04316911ca6f.jpg)

Also deleting the pod fix the attaching errors.

[2018-11-05 09:52] fatih commented on #54
I'm closing this as I don't have any more information to debug this even further. For anyone seeing something this, please make sure to have a reproducible case with the latest version, and better ping me directly (@fatih) and give me the ability to debug your cluster. Having at least a kubeconfig, etc.. is helpful debugging these kind of issues.

[2018-11-05 09:52] #54 closed

[2018-11-05 09:54] fatih commented on #98
Thanks @devfelipereis for the info. Seems like if the pod is re-schedule to a **different** node it won't come back. I'll try to debug it with a similar case.

[2018-11-05 10:43] fatih commented on #98
I was not able to reproduce this issue with our latest CSI version: `v0.3.1` and Kubernetes `v1.12.1`. The issue I see is that you're running an old version of CSI and K8s which has a bug about re-handling attached volumes. It somehow is not able to attach the volume, but the node still thinks the volume is there. That's why you see the error "... does not exist and no size was specified".

Can yo

[2018-11-05 13:44] fatih commented on #93
This seems to be an issue with your k8s version. It's very old and not supported by this driver (the error `failed to attach: node "openshift-master" has no NodeID annotation` is because the node couldn't be registered to be used by CSI) .

Please upgrade it to v1.12.1 at least minimum. Happy to debug if it's still happening for you.

[2018-11-05 13:44] #93 closed

[2018-11-05 13:49] JoschaP commented on #93
The fix was to DOWNgrade from 0.3.x to 0.2.0 and it worked instantly

[2018-11-05 13:59] fatih commented on #93
@JoschaP care to share what you have found? The `0.3.1` has a some serious fixes so it should work nevertheless. You should't have to downgrade

[2018-11-05 17:09] badri commented on #93
@fatih thanks for your response man. OKD always runs with the corresponding version of Kubernetes. i.e. I use OKD 3.10 and it uses 1.10 version of Kubernetes.

Source: https://docs.okd.io/3.10/architecture/infrastructure_components/kubernetes_infrastructure.html#overview

Current latest stable is OKD 3.11 and it might take a while before it bumps up to 3.12. Is there any way I can backport the upd

[2018-11-05 17:12] badri commented on #93
Also, I noticed that I use 0.2.0 for my setup which is compatible with Kubernetes 1.10.

`          image: digitalocean/do-csi-plugin:v0.2.0
`
Any idea why it still might not work?

[2018-11-05 17:21] JoschaP commented on #93
@fatih I can't exactly tell you why it worked then. We tried it before with the 0.3.1 but couldn't get it to work. Out of "desperation" we simply installed 0.2.0 and it worked immediately.

The error with the 0.3.1 was that it executed and mounted the VolumeClaim correctly, but the Pod did not come up. With the 0.2.0 it worked as said immediately.

We are using Kubernetes v1.11.5-rancher1-1

[2018-11-05 18:45] devfelipereis commented on #98
Seens that rancher 2.0.8 does not have support for Kubernetes v1.12.1.

I was not aware of the 0.3.1 update. I would like to try it.

About the volumeattachments, I need to deploy again to test. I deleted the lab.

And... I see that rancher stable is now at 2.1.1. So I'll do the upgrade and I come back to tell you about my results.

Thank you!

[2018-11-06 13:44] fatih commented on #93
@badri unfortunately `v1.10` is not suggested because it has some serious bugs in day to day operating of volumes. You might create a workload with a volume attached to it, however, you might see problems later when you upgrade the pod. Hence we don't suggest using v1.10 at all. Also the minimum version is `v1.10.5` for CSI v0.2.0. The `v1.10.0` is not compatible with it.

[2018-11-06 14:11] fatih commented on #93
@JoschaP I'm happy to help and debug your 0.3.1 cluster if you can create one. Just let me know how we can proceed.

[2018-11-07 00:04] devfelipereis commented on #98
@fatih It's working now.

I did an upgrade to my Rancher and csi-digitalcoean. I did some tests and it's working fine without errors so far.

I'm using:

- CSI Version:
0.3.1

- Kubernetes Version:
1.12.0

- Cloud provider/framework version, if applicable (such as Rancher):
Rancher 2.1.1

[2018-11-07 04:20] dbogatov commented on #93
I can confirm the same problem on v0.3.1 and the downgrade to v.0.2.0 fixed everything.

[2018-11-07 07:33] fatih commented on #98
@devfelipereis I see a mail with your comment from you but it's not here. Did it got deleted somehow?

[2018-11-07 07:41] fatih commented on #93
v0.3.1 is not compatible with v1.11.x, it's only compatible with v.1.12.x. If you se an old version you need to use `v0.2.0`.

[2018-11-07 10:22] devfelipereis commented on #98
@fatih yes.

Yesterday I was testing rancher 2.1.1 with kuberntes 1.12.0. This plugin is working fine but I just tested with one node.

Then I post here but I want to test more today. With two nodes and some different stacks.

Then I'll post the results to not make spam with comments :)

[2018-11-20 17:30] pehbehbeh opened #106 "Resizing Persistent Volumes"
### What did you do?

I created a persistent volume claim:

[code]

I tried to resize the persistent volume claim as described [here](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/).

[code]

But I got the following error:

[code]

### What did you expect to happen?

I wanted to expand the existing volume.

### Configuration

* CSI Version:
  * `quay.io/k8scsi/

[2018-11-21 07:20] ty2 opened #107 "CSI didn't check whether the volumeHandle ID is duplicate"
### What did you do? (required. The issue will be **closed** when not provided.)
Create 2 persistent volumes with the same volumeHandle ID and attached it to the pods in the same node.

### What did you expect to happen?
I expect CSI will check whether the volumeHandle ID is duplicate, the container will not be created.

### Configuration (**MUST** fill this out):

[code]
[code]
[code]
[code]

* C

[2018-11-22 17:10] feluxe opened #111 "Unresolvable Multi-Attach error, after resizing node pools."
### What did you do?

I created a digitalocean (preview) cluster via the DO web interface. In the cluster I installed an app that uses an existing block storage volume with a `PV`/`PVC` config similar to the one in the example [pod-single-existing-volume](https://github.com/digitalocean/csi-digitalocean/tree/master/examples/kubernetes/pod-single-existing-volume).

So far it worked fine.

Then I re

[2018-11-24 11:39] naarani commented on #111
I'm having a similar problems after resize (I had CSI 0.2.0 and I've updated to 0.3.1 manually with kubectl edit)

[2018-11-27 06:57] fatih commented on #111
Thanks folks for the reports. There were some couple of issues with attachment to dead nodes that were fixed with latest versions of CSI (which I've released yesterday as `v0.4.0`). I'll try to reproduce it today to see how things are in this area and if there is any bug on our side. I'll keep you informed.

[2018-12-03 06:32] fumblehool commented on #32
I'm facing the same issue, Restarting the nodes helped me solve the issue. Thanks @zarbis for the tip 👍 :)

[2018-12-06 12:37] devfelipereis commented on #106
My sample app was using 2Gb and now I'm trying to use 5Gb.

I can resize via DO but the app will not reconize that 5Gb and will throw an error that it is out of space.

[2018-12-07 19:52] Azuka commented on #111
@fatih, I might be asking in the wrong place, but is the csi plugin updated with DO's kubernetes or does it need to be updated manually?

[2018-12-11 16:38] radek-baczynski commented on #111
I have same problem with this helm https://github.com/helm/charts/tree/master/stable/traefik
After installing traefik works but when I add new domain to acme.domains.domainsList and run helm upgrade with new config I got:

`Multi-Attach error for volume "pvc-755581bc-fbde-11e8-b7a2-be5e9cc268b5" Volume is already used by pod(s) traefik-thingie-6db8884ccc-qjsn4`

[2018-12-12 00:37] Azuka commented on #111
@radek-baczynski, do you want to try deleting the running old pod, or setting your `.spec.strategy` (ie the helm value `deploymentStrategy`) to Recreate?

That's what I'm using with traefik.

[2018-12-19 13:14] murdav commented on #111
Did you try to patch the finalizers?

e.g.
kubectl patch pvc <name> -p '{"metadata":{"finalizers":null}}'
kubectl patch pv <ID> -p '{"metadata":{"finalizers":null}}'

and after delete them. I solved like this.
Also https://github.com/rook/rook/issues/1488

[2018-12-20 23:23] #81 closed

[2019-01-03 10:17] fatih commented on #83
Closing this issue due inactivity. Please use the latest version again and let us know if there is anything I can do. Thanks.

[2019-01-03 10:17] #83 closed

[2019-01-03 12:17] fatih commented on #107
Hi @ty2

It seems like you're trying to reuse an existing volume and want to attach a single volume to multiple pods. First of all I'm not sure this is applicable, because you're using a `Deployment`, so your pods could end up in different nodes. Our driver only supports `ReadWriteOnce`, which means the volume can be mounted only on a single node.

Second, the CSI plugin doesn't create any pods, w

[2019-01-03 15:09] fatih commented on #111
I just tried to reproduce it and was able to see the issue. But this is not a CSI-Digitalocean problem unfortunately. The Driver never gets an attach/detach command and if you check the logs you'll see nothing. It seems like the CSI sub-system is not properly handling these kind of issues. I'm trying to check what we can do here or if there is anything I can do at least.

These are the errors I se

[2019-01-03 15:12] radek-baczynski commented on #111
change of deploymentStrategy to `Recreate` helped. Thanks

[2019-01-04 11:58] fatih commented on #111
@radek-baczynski just tried with "Recreate"  and seems like it's really working well. But I waited couple of minutes and the scheduler had time to resolve the issues:

[code]

 I wonder if this is the same for `rolling-update` strategy as well. I'll post my findings  here.

[2019-01-04 12:44] fatih commented on #111
Alright tested it with `RollingUpdate` strategy and confirm that it works well! Here are the events for the pod:

[code]

The key is that it, it's not instantaneously. We need to wait until the reconciler in Kubernetes is aware of the imperfections and try to reconcile to a correct state. In my tests it reconciled in a good state in around **6 minutes**.

[2019-01-11 12:38] kjellberg commented on #106
I'm having the same problem. Any solutions on this yet?

[2019-01-13 11:58] kjellberg opened #122 "FailedAttachVolume / timeout expired waiting for volumes to attach or mount for pod"
### What did you do?

First I created a PVC:
[code]

Then a deployment:
[code]

And what I get is:
![screenshot 2019-01-13 12 44 46](https://user-images.githubusercontent.com/2277443/51084860-200bee80-1731-11e9-94d8-68b31eda5c61.png)

The volume was created, can be found in DO and is attached to the correct node/droplet:

![screenshot 2019-01-13 12 49 32](https://user-images.githubusercontent.com/

[2019-01-14 10:41] fatih commented on #106
Resizing is not yet supported, we're waiting for the new sidecar `external-resizer`, which is not yet implemented: https://github.com/kubernetes-csi/external-resizer This will be a part of the controller once released and we'll make sure to implement it in a proper way. Until then, I wouldn't suggest to resize as it would break the various states in Kubernetes.

[2019-01-27 04:14] koehn opened #123 "Unable to mount volume on a pod"
### What did you do? (required. The issue will be **closed** when not provided.)
I updated a pod's memory limit and re-deployed it. Until then it was working fine with two mounted volumes.

### What did you expect to happen?
The pod would get created, mount the volumes, and transition to the running state.

### Configuration (**MUST** fill this out):

* system logs:
[code]
Please provide the follo

[2019-01-27 14:41] koehn commented on #123
It should **not** be attempting to format the volume; it already contains data!

Interesting logs from the `csi-do-plugin` container on that node:

[code]

[2019-01-27 14:51] koehn commented on #123
Restarted the `csi-do-plugin` on the node; logs now show:

[code]

[2019-01-27 15:34] koehn commented on #123
I moved the pod to another node and it mounted the volumes no problem. Need to understand why this node cannot mount volumes and fix it.

[2019-01-28 14:34] yvan commented on #62
This works great. It clears out the PV but how can we prevent this from happening in the future?  This seems a bit hacky.

[2019-01-29 22:26] ap1969 opened #124 "timeout expired waiting for volumes to attach or mount for pod"
### What did you do? (required. The issue will be **closed** when not provided.)
Tried to replicate the example to attach an existing volume to a deployment.

doctl compute volume list

    ID                                      Name              Size     Region    Filesystem Type    Filesystem Label    Droplet IDs
    911983ce-240a-11e9-9975-XXXXXXXXXX    volume-lon1-01    5 GiB    lon1      ext

[2019-01-29 22:30] ap1969 commented on #124
Aaargh! Why does this not include carriage returns?

I'll see what I can do to fix it.

[2019-01-29 22:40] ap1969 commented on #124
How do I share the gist with you, please?

[2019-01-31 10:59] ap1969 commented on #124
Potentially related to https://github.com/digitalocean/csi-digitalocean/issues/122 ?

[2019-01-31 11:00] ap1969 commented on #122
Hi @kjellberg
Which CSI release are you using?
Regards,
Andy

[2019-02-13 10:52] tobiasvdp opened #126 "Reclaim policy switching to Retain instead of Delete"
Is it safe to recreate the storage class with reclaim policy: Retain? For data safety when we need to resize for example it's dangerous to delete the volume when the claim gets removed.

### What did you do? (required. The issue will be **closed** when not provided.)
Deleted claim resulting in the block storage being deleted

### What did you expect to happen?
the option for reclaimoption Retain

[2019-02-13 11:15] travisgroth commented on #111
I'm on v0.4.0 and have the same scenario as feluxe.  Here's how I got there:

* Create stateful set app with PVC
* Application is stable with data written to PV
* Unknown scenario began crashlooping app
* Delete crashlooping pod
* Get PV warnings:

[code]
* Wait for 5-10 minutes
* Recycle node via DO control panel (creates new node, deletes old)
* New, slightly different warning:

[code]
This cont

[2019-02-14 11:56] Berndinox commented on #106
+1
plz notify if this is finished / possible.

[2019-02-18 09:34] Berndinox commented on #126
+1
Cloning the Default DO Storageclass and updatig the Reclaim-Policy didnt work for me..

[2019-02-20 16:00] alfonmga commented on #54
I think this issue is related to `RancherOS` and `CoreOS`. issue: https://github.com/rancher/longhorn/issues/198.

I gave up and switched to `Ubuntu` as OS for my `Rancher` workers and finally everything is working as expected.

[2019-02-22 04:41] ptariche opened #128 "Hard limit of volume mounts total...?"
### What did you do? (required. The issue will be **closed** when not provided.)
I launched 3 nodes ($20 dollar instances with k8 cluster offering from DO). After launching enough pods with persistent volumes utilizing the do storage class the cluster refuses to assign any more volumes, to the next node, but does not complain as it constantly pends for the volume to be mounted, which places the de

[2019-02-22 05:09] ptariche commented on #128
<img width="1199" alt="screen shot 2019-02-21 at 9 07 53 pm" src="https://user-images.githubusercontent.com/3300641/53221139-ea560180-361c-11e9-91c3-87f36943125a.png">

[2019-02-22 05:16] ptariche commented on #128
There maybe just a control limit on the amount of volumes one can have on their account without reaching out to support at DO.

https://www.digitalocean.com/community/questions/max-amount-of-block-storage-volumes-on-a-digital-ocean-account

If this is the case, I'll close this ticket and leave a note for others going down this rabbit hole to have the proper information to reach out to DO and incre

[2019-02-22 09:24] timoreimann commented on #128
Hi @ptariche 👋

You are right, there is a limit with regards to how many volumes can be mounted overall (per team/account) and per droplet. The details are outlined [here](https://www.digitalocean.com/docs/volumes/overview/#limits). You can reach out to the DO support to have your overall limit increased.

Hope this helps.

[2019-02-22 19:57] ptariche commented on #128
👍

There should be some kind of error from the csi driver if other's run into a similar issue with the api's 403 forbidden response.

[2019-02-22 19:57] #128 closed

[2019-02-23 22:57] timoreimann commented on #128
@ptariche if you run `kubectl describe pvc` on a pending PVC that's over limit, you should see a message like

[code]

You would also see that message in the general Kubernetes events (`kubectl get events`).

[2019-02-24 20:16] twogood commented on #111
Thank you @Azuka and @radek-baczynski , it seems I could solve this for traefik (installed with helm) by changing strategy to `Recreate`.

[2019-03-01 10:44] GalacticWeb commented on #122
+1 !

[2019-03-05 17:33] dperetti commented on #86
This is happening to me right now in a DO cluster 🤔

[2019-03-08 21:37] kallisti5 commented on #126
I just ran into this issue. Could this be documented?  The normal way involves applying this to the PersistentVolume vs the PersistentVolumeClaim

[2019-03-08 21:47] kallisti5 commented on #126
*actually*, I changed the storageClassName to do-block-storage-persist.  While it applies to my k8s cluster, the volume doesn't actually get created.

[code]

[2019-03-08 21:54] kallisti5 commented on #126
[code]

Actually, just looks like ```do-block-storage-persist``` is broken and never allocates. It doesn't show up in the DO volume dashboard.

[2019-03-09 08:06] Berndinox commented on #126
Hy,

i set the wron name:

[code]

[2019-03-10 21:34] leonaves commented on #122
+1

[2019-03-16 21:18] ChSch3000 commented on #124
I'm having the same issue. I use the DigitalOcean managed kubernetes. After I recycled i kubernetes node, the csi driver is unable to attach the volume.

`doctl compute volume list` output:
[code]

And here the events from the pod:
[code]

Any ideas?

[2019-03-17 03:58] jasondewitt opened #132 "Not able to attach pv to node ( has no NodeID annotation)"
### What did you do? (required. The issue will be **closed** when not provided.)
I have been trying to set up the DO csi plugin on my cluster and am running into problems.  I am following the readme, using all the example manifests. Everything appears to install correctly, the storage volume gets created on DO, but it does not attach to the node when I create the test pod.

### What did you expect

[2019-03-17 13:07] Gambler13 opened #133 "CSI driver stopped working"
### What did you do? (required. The issue will be **closed** when not provided.)
We used the csi driver for about 3 weeks without any problems. But after some troubles with the managed digitalOcean Kubernetes I had to recycle a node. After that, the CSI driver stopped working. Now we are unable to provisioning new volumes neither attach/mount the existing ones to a pod.

Now I can't even run the e

[2019-03-17 20:43] kibs opened #134 "Volume stats missing"
### What did you do? (required. The issue will be **closed** when not provided.)
Setup kube-prometheus (https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus)

### What did you expect to happen?
Being able to see PV stats, like diskspace free etc. There is an dashboard for this already added, but data was empty. Checked out prometheus data and didn't find any metrics na

[2019-03-17 23:19] badri commented on #93
I now use 1.11, but still get the same issue.

[code]

[2019-03-19 22:32] Gambler13 commented on #133
Problem solved after the DigitalOcean support restarted our master node

[2019-03-19 22:32] #133 closed

[2019-03-21 09:35] darcyllingyan commented on #58
Hi @peterver ,
Whether you find the root cause for the DaemonSet always restart issue, and the logs show "Still trying, connection is TRANSIENT_FAILURE", I met the same issue in two clusters.
I also think maybe there are some restrictions for the cluster configuration when using CSI, but I couldn't find the root cause and blocked in the issue.

Thanks

[2019-04-01 00:36] hbinduni opened #135 "add support for xfs format"
Hi, i try to format my persistent volume to xfs but it seem failed:

[code]

i know in the digitalocean/volume tab product, you can create and format xfs, but i dont know why it is failed.

this is my system detail:

[code]

[code]

[code]

[code]

[2019-04-02 13:46] kallisti5 opened #136 "Support ReadWriteMany"
### What did you do? (required. The issue will be **closed** when not provided.)
Allow a volume to be accessed by multiple pods.

### What did you expect to happen?
A volume could be accessed by multiple pods.

### Configuration (**MUST** fill this out):
[code]

* manifests, such as pvc, deployments, etc.. you used to reproduce:

[code]

Storage (just for persistant storage per
[code]

[2019-04-04 18:33] aksgithub commented on #62
I ran into same issue and tried to force delete PVC and PV as both were stuck into Terminating state for a while. I don't have feature-gate PVCprotection enabled still "Finalizers:    [kubernetes.io/pvc-protection]" got added to PVC/PV config. Is that a bug ?

[2019-04-05 03:53] 4ydx opened #137 "Create PVC from exiting snapshot"
### What did you do? (required. The issue will be **closed** when not provided.)

I used the restore.yaml script given here

https://github.com/digitalocean/csi-digitalocean/tree/master/examples/kubernetes/snapshot

to try to create a pvc.  In my case I have an existing snapshot that was not created as above.  I manually made it via the DO web interface.  I then used the name listed for the snapsh

[2019-04-05 04:09] 4ydx commented on #137
I ended up manually moving data from the volume into the cluster by creating a new droplet, mounting a manual volume from snapshot, and then copying that data into the cluster.

[2019-04-05 04:09] #137 closed

[2019-04-07 15:39] ryanmjacobs opened #138 "Question: Are non-DigitalOcean nodes supported?"
Hi,

My apologies if this has been documented or asked before, but I couldn't find any answers online.

Are non-DigitalOcean Kubernetes nodes supported at all? On my cluster, I have two on-premise servers and two DigitalOcean nodes. For some reason, my on-premise nodes never sync successfully.

[code]

---

Here are some dumps from kubectl:
[code]

[code]

[code]

---

I'm not sure who `169.254.16

[2019-04-07 16:10] ryanmjacobs commented on #138
Okay, back again. I think I found a decent fix. I just added a `nodeSelector` that selects only my DigitalOcean nodes. I had to label my DO nodes with `kubectl label nodes <node 1> <node 2> digitalocean=true`.

[code]

Hopefully this has no repurcusions? I'm not sure if other if my other non-digitalocean nodes will be able to access the PVCs... If someone could let me know, that would be fantastic

[2019-04-10 09:12] kycfeel opened #139 "Can't create new volume via DO CSI driver"
### What did you do? (required. The issue will be **closed** when not provided.)

Trying to create a new volume via DO-CSI. But It stucks on pending status forever.

[code]

From `csi-do-plugin-0` =

[code]

And never stop to print this error.

DO CSI worked fine with this setup exactly even just few hours ago. and suddenly this started to happens.

How can I fix this? Is this a known bug?

### Wh

[2019-04-10 10:40] carlhopf commented on #139
same issue here on a fresh cluster v1.13.5

[2019-04-10 10:49] buztard commented on #139
I'm pretty sure it's caused by https://status.digitalocean.com/incidents/1ptrlnshssy0 - not by the CSI driver.

[2019-04-10 12:53] ChSch3000 commented on #139
I encountered the same issue today. CSI driver was working until this morning, now we are not able to create any volume neither upgrade our deployments

[2019-04-11 06:01] kycfeel commented on #139
I'm also pretty sure this issue happened cause of temporary DO API error. After they announced the issue has been solved on https://status.digitalocean.com/incidents/1ptrlnshssy0, I can create new volumes without errors.

[2019-04-11 06:01] #139 closed

[2019-04-16 07:41] #126 closed

[2019-04-16 07:44] tobiasvdp opened #140 "Reattached volume is empty"
### What did you do? (required. The issue will be **closed** when not provided.)
Recreate pod of statefull set.

### What did you expect to happen?
The pvc to reattach the volume.
However the attached volume is indeed the volume registered at digitalocean, but the volume is empty. a) data was never persisted in the first place. b) the volume was wiped before attaching to the new node.

### Configu

[2019-04-17 01:10] sagebind commented on #136
This isn't going to ever work I imagine, because the plugin is still just using plain old [block storage volumes](https://www.digitalocean.com/products/block-storage/) under the hood, and _those_ do not support mounting to more than one droplet. So unless that changes, then there's nothing this plugin can do to support `ReadWriteMany`.

[2019-04-17 05:19] fatih commented on #136
Yeap, DO Block Storage doesn't support ReadWriteMany unfortunately. Closing this as there is not much we can do here. Thanks for the feedback nevertheless.

[2019-04-17 05:19] #136 closed

[2019-04-17 15:03] beshkenadze commented on #132
We have the same issue, any updates from the team do?

[2019-04-17 15:15] beshkenadze commented on #41
@fatih for version v2.2.0 we still get an error `AttachVolume.Attach failed for volume "pvc-{ID}" : node "{NODE_NAME}" has no NodeID annotation` even when adding `MountPropagation=true` any suggestion?

[2019-04-17 18:44] jbonnett92 opened #141 "Running on private cluster?"
The csi-do-node/s have a log of:
[code]

The csi-do-controller has a log of:
[code]

Any ideas what the issue could be?
I am running this on a private cluster, not one hosted on DO.
I ran the yaml in the readme after adding the secret with the spaces access key, had to run it twice as mentioned, that is as far as I have got.
[code]
Kubernetes Version: 1.14

[2019-04-18 14:41] rust84 commented on #132
We are also having this issue since installing Rancher 2.2.2 today. This was on a brand new install.

Client Version: v1.12.7
Server Version: v1.13.5

[2019-04-24 15:10] bjg2 opened #149 "Make XFS persistent volume claim"
How can I request XFS persistent volume in digital ocean k8s? I need it as it is recommended and faster file system for mongodb, which I host at my k8s.

[2019-04-25 10:25] bjg2 commented on #135
I am also interested in how to create XFS persistent volume. XFS is better than ext4 for some usecases, like databases.

[2019-05-04 08:46] #140 closed

[2019-05-05 10:58] krasaee opened #155 "CSI plugin fails to authenticate after upgrade of kubernetes from 13 (csi 0.4.0) to 14 (csi 1.1.0)"
### What did you do? (required. The issue will be **closed** when not provided.)

1. upgraded kubernetes nodes from version 13 to 14 using kubeadm
2. upgraded csi plugin from 0.4.0 by simply applying v1.1.0 via kubectl
3. everything appeared to work for a while but now receiving (401 Unable to authenticate you)
4. manually removed traces of do-csi, daemonsets, roles and so forth.
5. deleted secret

[2019-05-05 13:04] krasaee commented on #155
Updated
I was able to get pvc functionality working again, but I had to forcefully/manually delete all the csi plugins from all nodes via /var/lib/kubelet/plugins and ./plugins_registry, including removal of referenced values in kubelet get csidrivers, roles, clusterroles, bindings, lingering service accounts from old flex drivers, etcetera.

After removal, I applied csi v0.4.0 and the pvc functio

[2019-05-10 13:37] aleshaczech commented on #135
Hi, facing the same issue:
[code]
Kubernetes config:
[code]

[2019-05-12 09:17] mkcl-dev commented on #134
I'm facing the same situation (DO-managed k8s 1.3.14). No volume metrics are exposed.

[code]

Related info: [coreos/prometheus-operator#2359](https://github.com/coreos/prometheus-operator/issues/2359)

Having suffered from a volume with no space left on device just recently I'd like to hear if there's any update on this issue.

[2019-05-15 10:21] scottrobertson opened #157 "Document a way to create volumes with name"
This may already be somewhere, or perhaps i am thinking about it wrong, but I cannot find anything.

I recently had to migrate to another cluster, and i used https://github.com/digitalocean/csi-digitalocean/tree/master/examples/kubernetes/pod-single-existing-volume to keep the exisiting volumes.

Would it make sense to document a way so that when creating the volumes, they can easily be migrated t

[2019-05-16 00:50] rcny opened #158 "Resources manifest for 1.1.0 is broken and results in 401"
Hello. Sorry for not following this project's issue reporting guidelines, I just wanted to point to the nasty quirk with resources manifest for the current release - https://github.com/digitalocean/csi-digitalocean/blob/master/deploy/kubernetes/releases/csi-digitalocean-v1.1.0.yaml - `csi-do-plugin` container spec declaration for both `csi-do-controller` and `csi-do-node` doesn't define arguments

[2019-05-21 12:45] archnode commented on #123
I have the exact same issue and was able to resolve this similarly. This makes redeploying containers with attached volumestorage very hit & miss if you max out the per-node volume limit on a few nodes in your cluster.

[2019-05-28 12:18] #158 closed

[2019-05-31 09:16] botzill commented on #106
Yes, this is a must feature thx.

[2019-05-31 23:23] feluxe opened #160 "Detach volume from node, when node is not available."
### What did you do?

* Create a kubernetes cluster via the DO web-interface.
* Create a node pool consisting of 2 nodes.
* Deploy an app with a PVC into the cluster.
* Wait until the block storage volume gets attached to one of the nodes and the pod runs fine.
* Switch off the node that the pod runs on via the DO web-interface.
* Kubernetes will now try to re-create the pod on the other node... b

[2019-06-13 08:44] paintcast commented on #160
v1.11.10-do.f.1 same issue

I tried to delete my PVC: PVC was deleted, but PV stuck in 'Terminating' while Volume was deleted, and I cannot see it in DO web-interface.

I created new PVC, and updated my Deployment with it. New Pod was created successfully with new empty Volume. I attached old Volume to the Node where new Pod was deployed, and just manually copied data with rsync from old to new Vo

[2019-06-13 18:24] boedy commented on #134
In need of the same requirement. Critical to have the ability to send alerts if volume is reaching full capacity.

Willing to contribute through PR. Some guidance where to start would be helpful though. @fatih any suggestions?

[2019-06-18 14:54] hoangnguyenasnet commented on #132
I'm facing the same issue too with the same version, any updates?

[2019-06-19 03:16] hoangnguyenasnet commented on #132
I resolved issue by launched the node the same zone with the volume.

[2019-06-19 10:16] boedy commented on #106
Is there any workaround that allows to upgrade the volume without having to destroy and recreate the k8s workloads?

[2019-06-20 07:04] bedue commented on #132
I run into exact the same issue, are there any insights to a solution?

[2019-06-27 18:40] pluqueTheLuxe commented on #138
Hey guys, we are having the same exact issue here. As opposed to @ryanmjacobs, our k8s cluster is completly on-prem.

I was looking to use the do-csi driver for the provisionning of my pv's.

So since I have no k8s nodes in DO, @ryanmjacobs fix will not work.

any tips? corrections?

[2019-07-11 19:57] klausenbusk opened #172 "v1.1.1 manifest doesn't work"
The [v1.1.1 manifest](https://github.com/digitalocean/csi-digitalocean/blob/f7d772a4fa3e671db59493652c811952b87c71dd/deploy/kubernetes/releases/csi-digitalocean-v1.1.1.yaml) require the following image (tag), but it doesn't exist:

https://github.com/digitalocean/csi-digitalocean/blob/f7d772a4fa3e671db59493652c811952b87c71dd/deploy/kubernetes/releases/csi-digitalocean-v1.1.1.yaml#L362

https://qua

[2019-07-12 06:00] grumps commented on #172
I switched the `csi-node-driver-registrar` to v1.1.0 which is on quay and then  re-applied the manifest and it looks like there's another container pointing to v1.1.1 which  doesn't exist

[code]

[2019-07-12 14:30] grumps commented on #172
the follow patch allows all the pods etc to start and come online, unsure how to make sure everything is working. It does seem based on last releases that all the version numbers match e.g. all were `v1.1.0` but most of the dependencies seems to have gone to `v1.2.0` from `v1.1.1`
[code]

[2019-07-14 13:37] waynr commented on #172
@klausenbusk thanks for catching this!

This looks like a bug in our release process which involves [automatically replacing the previous version string with the new version string](https://github.com/digitalocean/csi-digitalocean/blob/f7d772a4fa3e671db59493652c811952b87c71dd/Makefile#L27) and which doesn't validate the deployment docs at all.

I'll submit the patch you showed here as a PR, make s

[2019-07-14 13:51] waynr commented on #172
@grumps whoops, I think part of my last message was meant for you. I have submitted #173 which uses CSI component versions that we have tested in our DigitalOcean Kubernets product's release automation. Thanks again for catching this!

[2019-07-14 14:02] waynr opened #174 "`make bump-versions` generates broken manifests"
A couple weeks ago, I ran the `make bump-version` target to bump the `do-csi-plugin` versions when releasing new patch versions of the plugin.

I expected only the `do-csi-plugin` version to be updated, but instead ended up accidentally updating all `csi` components referenced in the example manifests.

See discussion in:

* #166 <- the PR that added the borked manifest
* #172 <- the issue that br

[2019-07-15 07:02] fatih commented on #174
Hi @waynr

That's bad indeed. That scripts create a manifest, but it doesn't mean it's the final correct version. It needs to be tested before deployed. That's why I've added the following line in the Readme:

As you stated, we can change the file to be a template and then only replace the parts we're interested in, which is in our case `do-csi-plugin`.

[2019-07-15 08:08] fatih commented on #172
Thanks @waynr for the fix.

@grumps can you please try out the latest `v1.1.1` yaml file again? We didn't tested yet some of the version you mentioned in your patch (such as `quay.io/k8scsi/csi-snapshotter:v1.2.0`), so we're using the versions that have been validated in our internal tests. It should work though as @waynr validated it as well in #173

[2019-07-17 04:48] grumps commented on #172
@fatih @waynr @klausenbusk I was able to install the driver on a k3s install on a droplet, block devices mounts etc as expected with the updated 1.1.1 manifest.

[2019-07-19 11:40] chatsatourian opened #175 "DO provisioned volume is not formatted to its maximum free space"
### What did you do?

- Created 3 volumes with doctl.
- Created 3 persistent volumes with volume handles referring to the previously created volumes.
- Created 3 persistent volume claims for the 3 persistent volumes.
- Created a dummy headless service for the stateful set.
- Created a stateful set with 3 replicas and a volume claim template.

### What did you expect to happen?

I expected a statef

[2019-07-31 14:55] firatkucuk commented on #85
Any progress about this issue? 'cause don't want to hassle for transferring all my volume content.

[2019-07-31 15:02] snormore commented on #85
I was successful in using existing volumes by following this example https://github.com/digitalocean/csi-digitalocean/blob/master/examples/kubernetes/pod-single-existing-volume/README.md

[2019-07-31 15:26] firatkucuk commented on #85
If it's mature enough, it might be good to see it in the official documentation.

[2019-08-01 11:25] Bakuutin commented on #123
I have this issue too.

[2019-08-03 13:37] snormore commented on #135
Thanks for opening this issue. Closing as `v1.1.1` has shipped with XFS support.

[2019-08-03 13:37] #135 closed

[2019-08-03 13:37] snormore commented on #149
Thanks for opening this issue. Closing as `v1.1.1` has shipped with XFS support.

[2019-08-03 13:37] #149 closed

[2019-08-04 10:56] snormore commented on #123
I've been trying to reproduce this but have been unsuccessful so far. Are you able to reproduce consistently or is it intermittent? Can you post steps?

[2019-08-05 11:27] bjg2 commented on #149
How do you expect this to be used? I get `MountVolume.MountDevice failed for volume "pvc-19abb273-b773-11e9-844d-7ed2c50452c7" : rpc error: code = Internal desc = exec: "mkfs.xfs": executable file not found in $PATH` error. I even tried to delete the cluster and create it again (I guessed you changed something in the node initialization), but it gives the same error.... Please respond as fast as p

[2019-08-05 11:27] bjg2 commented on #135
How do you expect this to be used? I get `MountVolume.MountDevice failed for volume "pvc-19abb273-b773-11e9-844d-7ed2c50452c7" : rpc error: code = Internal desc = exec: "mkfs.xfs": executable file not found in $PATH` error. I even tried to delete the cluster and create it again (I guessed you changed something in the node initialization), but it gives the same error.... Please respond as fast as p

[2019-08-05 11:32] snormore commented on #149
Hi @bjg2 — which version of the CSI implementation are you using?

[2019-08-05 11:35] bjg2 commented on #149
Looking further, I noticed that csi-do-node pods use csi-node-driver-registrar:v1.01. I tried to update it via `kubectl apply -f https://raw.githubusercontent.com/digitalocean/csi-digitalocean/master/deploy/kubernetes/releases/csi-digitalocean-v1.1.1.yaml`, but I get ```
customresourcedefinition.apiextensions.k8s.io/volumesnapshotclasses.snapshot.storage.k8s.io unchanged
customresourcedefinition.a

[2019-08-05 11:40] snormore commented on #149
The `csi-do-plugin` image would have to use `v1.1.1` of this CSI implementation. `csi-node-driver-registrar:v1.0.1` is the upstream CSI interface, so that should remain as-is.

[2019-08-05 11:42] snormore commented on #149
@bjg2 Can you post your manifests? What version of Kubernetes are you running? Are you running a managed DOKS cluster or a self-managed Kubernetes cluster using the CSI?

[2019-08-05 11:49] bjg2 commented on #149
I'm using managed DOKS v1.13.8-do.1 (that's the newest version for v1.13 kubernetes).
![image](https://user-images.githubusercontent.com/6639273/62462201-13abb980-b787-11e9-8eb0-10e9759dd063.png)
I just deleted the cluster and created a new one, and I can do so again if needed. All the settings are default, except for my StorageClass, which is by your instructions:
[code]

Describing `csi-do-node`

[2019-08-05 12:14] snormore commented on #149
My apologies for the confusion @bjg2. I see now why you're unable to get this working on your cluster. Due to [Kubernetes compatibility](https://github.com/digitalocean/csi-digitalocean#kubernetes-compatibility) of our CSI, we have only updated DOKS versions 1.14+ to use the new `v1.1.1` of this CSI implementation. Is it possible for you to create a 1.14 cluster instead of a 1.13?

[2019-08-05 12:20] bjg2 commented on #149
Oh, I didn't get that one. Not sure if there was a reason for using v1.13 cluster or it was just in out scripts because of the stability. I will test it out and let you know the outcome, thanks!

[2019-08-05 16:56] bjg2 commented on #149
Moved to v1.14. Had problems with [load balancer forcing http protocol](https://github.com/digitalocean/digitalocean-cloud-controller-manager/issues/262), but managed to get around it manually for now. Volume is XFS formatted and everything seems to work, thanks!

[2019-08-19 21:06] jadesrochers opened #178 "csi-do Pod not created successfully, socket connection hangs"
### What did you do? (required. The issue will be **closed** when not provided.)

Created a new Kubernetes v1.14.6 three host cluster (master & two nodes) using kubeadm.
Used this config file as the --config argument to kubeadm init:
[code]

Installed Calico 3.7 as the CNI plugin, also installed Helm/Tiller.
After creating the cluster, I added/accessed/removed test pods (like busybox) just to make

[2019-08-19 23:26] snormore commented on #178
Hi @jadesrochers 👋 — I'm seeing events with message `Error: secret "digitalocean" not found` in your cluster info dump for the `csi-do-node` pods. It looks like you might be missing the `digitalocean` secret https://github.com/digitalocean/csi-digitalocean#1-create-a-secret-with-your-digitalocean-api-access-token

[2019-08-20 14:33] jadesrochers commented on #178
That was it, thank you for pointing me toward it. At some point in the process I altered the name of the secret so it was no longer digitalocean, and failed to notice the secret was not being found. Once that was fixed, it worked immediately.
Thanks again.

[2019-08-20 14:33] #178 closed

[2019-09-14 20:25] joeycumines commented on #106
I still had to schedule downtime so it doesn't address @boedy 's request (although I can't remember if it was 100% necessary), but it is possible to resize a volume manually even though it isn't supported @pehbehbeh @devfelipereis @timoreimann @fatih @Berndinox @botzill

The CSI spec does now support this feature since https://github.com/container-storage-interface/spec/pull/334 which was released

[2019-09-17 19:30] adamwg commented on #175
Hi @chatsatourian - thanks for reporting this.

The issue is that DO pre-formatted volumes (volumes created via the API/UI with a format) rely on udev rules on the droplet to resize the filesystem the first time it's attached. DOKS worker droplets don't have these udev rules installed, so the filesystem never gets resized. I don't think we want to include the udev rules we use for normal droplets

[2019-09-18 06:48] chatsatourian commented on #175
Hi @adamwg,

The configuration I provided was a simple example to reproduce the issue. If I remove the PV and PVC resources, the DO generated PVs will have the following format, pvc-{UUID}. By providing the PV and PVC resources, I have to create the volumes beforehand and get their volume handle UUIDs, though I am able to reflect the service name and stateful set ordinal of the pod through their n

[2019-09-18 14:13] adamwg commented on #175
@chatsatourian I see - that makes sense. For your use-case, pre-creating a volume without a format should work. The CSI driver will format the volume if no filesystem is detected. You can do this through the DO control panel by selecting `Manually Format & Mount` in the create dialog, or by omitting the `filesystem_type` field from the request if using the API.

That said, I will also look at whet

[2019-09-20 09:31] MikeMichel commented on #160
And again I end in the csi repo of a cloud provider when I test node/volume failover. Even if there is a manual way with docli and kubectl it would make the purpose of running a "cluster" useless when the most important apps (the ones with data) can not failover without manual intervention.

kubernetes v1.15.3

[2019-09-20 11:23] snormore commented on #160
Hey there 👋

CSI `external-attacher` v1.2.0 has fixes for issues contributing to this behaviour, which is available on our latest 1.15 and 1.14 DOKS images (`1.15.3-do.2+` and `1.14.6-do.2`).

I've put together an example showing the expected behaviour during failover as describe: https://gist.github.com/snormore/8e6b62dc7fd5b3f823b416bb90619081

Can you confirm which version of DOKS you're using,

[2019-10-03 05:42] phucvinh52 opened #186 "Persistent Volume With Deployment, Stuck after node unready"
Hi team,
I have a problem need describe, please help.
I created a deployment (mysql) with persistent volume claim on cluster k8s (digitalocean) with 2 nodes (Node A &B).
The problem that i got, pod is scheduled to Node A, then some reason Node A stopped. But pod could not running to NodeB.
![image](https://user-images.githubusercontent.com/16432970/66101841-7c25e400-e5da-11e9-8509-e542fb8b7ffa.png

[2019-10-03 09:10] snormore commented on #186
Hi there! The `Multi-Attach error for volume` event is usually a transient event that should resolve after a few minutes, after a few attempts by the controller. Did that happen in this case or is it still hanging with that event?

[2019-10-03 09:58] phucvinh52 commented on #186
Hi @snormore ,
I wait more than 30 mins in previous cluster, and i just has created new cluster but still stuck
![image](https://user-images.githubusercontent.com/16432970/66117499-ea7c9d80-e5fe-11e9-9a08-fb7ad049a3ff.png).
Note: I stopped (not remove) Node where pod run on it.

[2019-10-03 10:16] snormore commented on #186
Ah I see, since the node still exists the volume is still attached to it. This can be resolved with one of the following options:
 1. delete the node so that the volume is detached from it and can be attached to another, or
 2. delete the VolumeAttachment instance via `kubectl delete volumeattachment <name>`

[2019-10-03 10:43] phucvinh52 commented on #186
@snormore
Thanks for your information, do you have any a plan auto deattched volume for this case in the future.

[2019-10-03 10:49] snormore commented on #186
In this case I believe the behaviour of not detaching automatically when a droplet is stopped is appropriate. The reason we don't auto-detach the volume when the droplet is stopped (vs being destroyed), is that we can't assume that the user will not start the node again expecting the volume to still be attached.

[2019-10-03 10:52] #186 closed

[2019-10-03 10:53] phucvinh52 commented on #186
Thank for your all information @snormore

[2019-10-08 15:40] timoreimann opened #187 "Build using Go 1.13"
We should update the build-related files (Makefile, Travis, possibly also go.mod) to ensure that the latest Go 1.13 is used for building CSI. It's probably not worth building on any older Go versions since CSI is a binary and does not need to maintain backwards compatibility.

The most notable change from Go 1.12 to 1.13 is that `GO111MODULE`'s default value of `auto` now enables module-ware mode

[2019-10-09 11:47] akashsharma95 commented on #187
would like to take this up

[2019-10-09 12:04] timoreimann commented on #187
@akashsharma95 thanks, please do! Let us know if you have any questions.

[2019-10-14 13:33] graham-web opened #192 "Support for Raw Block Volume mounts"
We're looking at running a Rook.io / Ceph cluster backed by DigitalOcean block storage, as a means to achieve ReadWriteMany persistent volumes.

Currently, it appears csi-digitalocean does not support attaching a Block Storage volume as a block mode PV, which is required to use Rook's '[Storage Class Device Sets](https://rook.io/docs/rook/v1.1/ceph-cluster-crd.html#storage-class-device-sets)' feat

[2019-10-14 14:19] adamwg commented on #192
We should be able to support this pretty easily. There's no change needed in the controller - block volume creation will happen the same way regardless of whether a volume is going to be used in `Block` or `Mount` mode. We do need a change in the node driver, which currently assumes `Mount` mode.

Not sure when we'll get to this, but I'll create a ticket internally at DO to track it. Of course, if

[2019-10-21 15:59] adamwg commented on #106
CSI now supports volume expansion. @varshavaradarajan is working on implementing it in #193.

[2019-10-22 21:14] chrstnwhlrt commented on #132
Possibly same problem [here](https://github.com/rancher/k3s/issues/926)

[2019-10-24 15:43] eugenesaenko commented on #122
+1

[2019-10-28 05:16] jayapriya90 commented on #187
@timoreimann Updated csi to build using Go 1.13. Could I get your review please: https://github.com/digitalocean/csi-digitalocean/pull/194

[2019-11-01 15:26] IbraevM opened #195 "v1.1.2 not found image "quay.io/k8scsi/csi-attacher:v1.1.2""
In the [manifests v1.1.2](https://raw.githubusercontent.com/digitalocean/csi-digitalocean/master/deploy/kubernetes/releases/csi-digitalocean-v1.1.2.yaml) `csi-attacher` use image tag `v1.1.2`. But this tag not found in [Repository Tags](https://quay.io/repository/k8scsi/csi-attacher) and kubelet say:

Change tag `1.1.1` for `csi-attacher` solves the problem.

[2019-11-02 07:21] timoreimann commented on #187
This was implemented successfully.

[2019-11-02 07:21] #187 closed

[2019-11-02 07:31] timoreimann commented on #195
Thanks for reporting. It seems like the version bump was due to our [Makefile being a tad too aggressively](https://github.com/digitalocean/csi-digitalocean/blob/bea29c29d555d8026025694c42394073c3b6d77c/Makefile#L27).

We'll fix the wrong image tag specifier (and update our release logic).

[2019-11-02 07:37] timoreimann commented on #160
Closing as this issue is presumably solved by using a recent enough release. Please post if this is not the case.

[2019-11-02 07:37] #160 closed

[2019-11-02 08:43] timoreimann commented on #138
The CSI driver only supports managing DigitalOcean volumes, which by nature do not work on any other cloud or (on-prem) environment.

I think the canonical way to accomplish what you're looking for is to leverage the storage provider available in your on-prem environment. Storage classes are meant to provide that distinction. Your on-prem PVCs would need to specify the proper class, and workloads

[2019-11-02 08:53] timoreimann commented on #134
I have finished what I think should approach a working implementation of the requested frdtuet. Still need to run more tests to confirm.

[2019-11-02 10:18] timoreimann commented on #141
This is somewhat similar to #138. The CSI plugin driver does not support running on infrastructure other than DigitalOcean's. Hence, there's no need to install the plugin elsewhere.

I'm not entirely sure where the errors are originating from. Might not be worth investigating though unless they are also appearing on the DO cloud.

Hope this helps. Let me know if there's more demand for clarificati

[2019-11-02 10:18] #141 closed

[2019-11-02 10:19] timoreimann commented on #3
This one has most likely proven to be working fine by now.

[2019-11-02 10:19] #3 closed

[2019-11-02 10:52] timoreimann commented on #123
Closing due to lack of activity. Please repost with steps to reproduce on a most recent DOKS patch image if this is still an issue.

[2019-11-02 10:52] #123 closed

[2019-11-02 11:03] timoreimann commented on #132
Although rather old, #79 described an issue with the same error message. The underlying problem was a missing kubelet parameter as described in https://github.com/digitalocean/csi-digitalocean/issues/79#issuecomment-421950640.

Is this possibly the same problem? How does Rancher parameterize the kubelet?

We'd also appreciate a quick note if this isn't a matter anymore, in which case we could clos

[2019-11-02 11:13] timoreimann commented on #124
@ChSch3000 it sounds like your issue is a different one since you're running into problems after recycling nodes, which is not what the OP reported AFAIU.

Anything but the latest version of the external-attacher side car that we provide had a bug which caused volumes to not reattach successfully under certain conditions, most notably involving recycles. If this is still a problem, please try on a

[2019-11-02 11:13] #124 closed

[2019-11-02 11:17] timoreimann commented on #111
Newer releases of the CSI plugin address a few bugs, most notably one about failure to detach due to a bug in the external-attacher side car. Please update to the latest possible version and file a new issue if the problem continues to happen.

Thank you!

[2019-11-02 11:17] #111 closed

[2019-11-02 11:18] timoreimann commented on #107
Closing due to lack of activity.

[2019-11-02 11:18] #107 closed

[2019-11-02 11:19] #98 closed

[2019-11-02 11:21] timoreimann commented on #89
Seems like the issue has been resolved. If not, please file a new bug report with the most recent version of the CSI plugin installed / DOKS image running.

[2019-11-02 11:21] #89 closed

[2019-11-02 20:51] #195 closed

[2019-11-02 21:04] timoreimann commented on #195
Master now contains the right csi-attacher version (v1.1.1).

[2019-11-04 09:50] timoreimann opened #200 "Support for ephemeral volumes"
Kubernetes 1.16 brings beta support for CSI ephemeral volumes. Quoting from [the docs](https://kubernetes.io/docs/concepts/storage/volumes/#csi-ephemeral-volumes):

We should implement support so that customers can leverage CSI ephemeral volumes.

[2019-11-04 09:54] timoreimann opened #201 "Consider using low-level systems API instead of Linux tools for primitive operations"
The CSI driver currently leverages several Linux tools to implement certain low-level features, like `mount` for mounting / unmounting or `blkid` to determine if a path / file system is mounted.

We should consider moving to the [Go syscall package](https://golang.org/pkg/syscall/) instead which provides as least some of the functionality needed in a programmatic fashion. The benefits are that we

[2019-11-05 21:50] GiGurra opened #202 "Needed changes to work on kubernetes 1.16"
As this is a possibly breaking change for older kubernetes versions, I think you want to have it posted as an issue before any PR. I had to perform the following changes to the 1.1.2 definition to make it work on my rancher 2.3.2/kub 1.16 cluster (non-managed running on DO).

It looks like `apps/v1beta1` is removed and you now just use `apps/v1`, and StatefulSets require selectors. (see https://ww

[2019-11-06 09:48] timoreimann commented on #202
Hi @GiGurra 👋

We indeed haven't updated the API versions for the affected types yet. Thanks for pointing out!

We should release a new version of CSI in order to provide manifests that do not fail on 1.16 anymore (i.e., what you included in your patch). Right now, [the way we increase the CSI plugin version is coupled to what other manifest changes may go into a release](https://github.com/digita

[2019-11-07 04:03] jacksontj opened #203 "Feature Request: Report disk usage for volumes from this driver"
I was attempting to add some monitoring around my volume usage today and I found that I don't have them in my cluster. After some looking it appears that it is the responsibility of the csi driver to expose those metrics (https://github.com/google/cadvisor/issues/1702#issuecomment-538337013).

So assuming that is accurate (there are similar issues for other csi plugins, e.g. https://github.com/kub

[2019-11-07 09:57] timoreimann commented on #203
Hi there @jacksontj

You're right that CSI driver is responsible for providing (certain) metrics. Specifically, the gRPC endpoint [`NodeGetVolumeStats`](https://github.com/container-storage-interface/spec/blob/4731db0e0bc53238b93850f43ab05d9355df0fd9/spec.md#nodegetvolumestats) is supposed to provide data around byte and inode capacity.

I believe your request is a duplicate of #134. If you agree,

[2019-11-07 14:47] jacksontj commented on #203
My apologies for missing that other issue, this definitely is a dupe. I'll go ahead and close this out

[2019-11-07 14:47] #203 closed

[2019-11-08 09:02] timoreimann opened #206 "Derive release manifests from latest dev versions"
We currently generate a new set of release manifests [by copying the latest release manifests and bumping the CSI plugin tags](https://github.com/digitalocean/csi-digitalocean/blob/a31f090a350ed24bce07fbd34ed34ae851625fc6/Makefile#L26-L27).

This is problematic in two regards:

1. Changes to the release manifests other than tag bumps cannot be made unless we decide to modify already released copie

[2019-11-08 09:07] timoreimann opened #207 "Consider using separate structs for the Controller and Node parts"
Our Controller and Node plugin parts currently share the same underlying [Driver struct](https://github.com/digitalocean/csi-digitalocean/blob/a31f090a350ed24bce07fbd34ed34ae851625fc6/driver/driver.go#L56-L83). While this keeps things fairly straight forward, it also makes it harder to understand which pieces are used where and complicates reasoning about the code in general.

For instance, the se

[2019-11-11 09:33] MasterNayru opened #209 "Cannot install Rook using DO PVs - /var/lib/kubelet/plugins/dobs.csi.digitalocean.com/csi.sock: connect: connection refused"
### What did you do? (required. The issue will be **closed** when not provided.)
I am trying to install Rook on my Kubernetes cluster using DigitalOcean PVCs as the backing storage/mon disks. The manifests and setup instructions I am using are pretty much straight from the getting started docs on Rook's site, but it seems that Rook is having its connections to the DigitalOcean CSI Unix socket bloc

[2019-11-11 11:49] timoreimann commented on #209
hey @MasterNayru 👋

I believe the problem is that [Rook requires block volume mode](https://gist.github.com/MasterNayru/b7186eae4c68561e33b0d71620a24db8#file-cluster-on-pvc-digitalocean-yaml-L75). This is not something our CSI driver provides today, but we can implement support for it now that the CSI spec supports it. Issue #192 is tracking the effort, and it's probably the next thing we're going

[2019-11-11 14:49] dsebastien commented on #106
I'm just starting out with DOKS, so I hope support for this will be added soon, it is clearly a must-have for our production workloads :)

[2019-11-11 15:13] timoreimann commented on #106
@dsebastien we're working on this as we speak, so hopefully should be available pretty soon. :)

[2019-11-11 16:47] #206 closed

[2019-11-12 15:33] #134 closed

[2019-11-18 05:07] zetas commented on #209
+1 for this. I've been tearing my hair out the last few days trying to debug this issue and get rook + volume osd's running properly.

[2019-11-20 17:59] adamwg commented on #209
@MasterNayru @zetas If you wouldn't mind sharing, what's your use-case for Rook/ceph on top of DO block storage volumes? I ask because DO block storage is already Ceph on the backend - volumes are 3-way replicated and highly available.

To be clear, I'm not questioning whether we should support running Rook with volumes on DOKS - we should definitely implement block volume mode and support it. Jus

[2019-11-20 18:21] zetas commented on #209
It's funny you should say that, my brother is a big data sales engineer at redhat and when I told him what I was doing he was like "DigitalOcean already uses ceph for block storage, why are you putting ceph on top of ceph?" and I was like "lol because money". Here's the main reasons:

1. I already use my k8s cluster for other stuff, (openfass, mysql, etc), I would love to be able to use all that d

[2019-11-21 18:01] adamwg commented on #209
@zetas Thanks for the detailed reply! Sounds like an interesting and totally reasonable set of use-cases. The idea of using the local storage and then "bursting" to block is especially interesting. I wonder whether we could do something on our side to make that easier - something I'll have to think about.

[2019-11-24 09:20] timoreimann commented on #200
After reading the [proposal](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md), I realized I misunderstood the idea behind ephemeral CSI storages: I thought it was about provisioning block storage which had a lifetime bound to the pod. The proposal describes though that volume create / delete / attach / detach operations are not involved at all

[2019-11-24 09:20] #200 closed

[2019-12-01 13:59] aknuds1 opened #223 "Installation notes out of date"
### What did you do? (required. The issue will be **closed** when not provided.)
Try to create a Kubernetes cluster following the instructions in this project's README, including using the `--allow-privileged` flag for both controller and worker kubelets. That flag was [removed](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#node) for k8s 1.15 though, so kubelet won't start

[2019-12-01 19:02] timoreimann commented on #175
The latest (yet unreleased) version of our CSI driver supports volume expansion which also takes care of resizing the file system as needed. It's another workaround, albeit one somewhat less involved.

It might be worth checking the spec if it covers file system resizing to the target size even without triggering the expansion functionality explicitly. FWIW, the proper tooling (resize2fs) is alrea

[2019-12-06 11:02] ajvn opened #224 "Openshift Origin v3.11 - Volume doesn't get reattached after pod stops working"
### What did you do? (required. The issue will be **closed** when not provided.)
What works:
- Deploying the driver works, everything starts fine.
- Creating PVC works fine by using example in Github page.
- Creating example POD also works fine, volume attaches properly.

What doesn't work:
- After pod is deleted for whatever reason, instead of volume getting unmounted and reattached to recreated

[2019-12-06 18:51] ajvn commented on #224
Figured it out, problem was with driver mounting `/globalmount` directory in a directory path that wasn't specified in installation manifest, in this part to be precise:
[code]

So, when driver creates directory called `/var/lib/origin/openshift.local.volumes/plugins/`, by default that directory is created with `mountPropagation: "None"`, and propagation defaults to private.
After specifying `moun

[2019-12-06 19:21] timoreimann commented on #224
@ajvn glad you figured it out. I definitely wouldn't mind a pull request to help other OpenShift users.

If it's just a couple of extra YAML lines, then we could add those commented out to the relevant release branch. What do you think about that idea?

[2019-12-06 19:45] ajvn commented on #224
Hi @timoreimann ,

Yeah, that works as well. Keep in mind however that beside mentioned issues, one more thing doesn't work with provided example in the `release-0.2.0` branch.

[code]

This pod also needs to run privileged, which needs to be specified like this:
[code]

Also, file that you're providing in 2nd step of `Installing to Kubernetes` with this command doesn't exist:
[code]

Actual 0.2.0

[2019-12-08 21:23] timoreimann commented on #224
Thanks @ajvn. 👏 Looking forward to hearing again from you once your tests have completed.

[2019-12-11 16:37] ajvn commented on #224
Hey, @timoreimann

We've done some work that was pretty intensive on creating/deleting/attaching/detaching volumes, and when API was feeling good, everything was smooth as well. When API was slow, operation was slow as well, but results were still as expected.

There are some limitations performance wise if you'd want to run production database for example, but that's on Volumes itself, nothing to

[2019-12-11 17:31] Paxa opened #242 "Can not mount volume"
All PVC works fine, except 1 pod

K8s v1.16.2

descrive pod:
[code]

From syslog:
[code]

Tried to restart csi pod, kubelet, docker - no luck

[2019-12-11 18:26] timoreimann commented on #242
👋

Which version of CSI are you running?

Also, are you able to reconstruct what kind of operations / actions led to this state? Specifically, did you possibly force-delete a Kubernetes object at any point?

[2019-12-14 00:52] timoreimann commented on #242
A common error is that a volume is already used by another pod running on a different node. DigitalOcean Block Storage supports RWO only, so any pod trying to reference a PVC already attached on a different node is bound to hang indefinitely.

[2019-12-14 08:31] Paxa commented on #242
I attached 2 volumes to pod (move database to bigger volume) and after copying content I updated deployment to use only new pvc, then pod took too long to terminate so I force-delete it

Image: quay.io/k8scsi/csi-node-driver-registrar:v1.2.0 and digitalocean/do-csi-plugin:v1.1.2

I tried to mount volume manually to VM via DO dashboard and it worked

[2019-12-14 18:05] Paxa commented on #242
Having same issue again, can not terminate pod:

csi driver logs
[code]

describe pod:
[code]

After restarting csi pod, it generates same logs

[2019-12-14 21:44] timoreimann commented on #242
I'd guess the volume unmount request happens repeatedly as part of a larger control flow that's failing.

Could you share the logs from the sidecars as well as the driver controller part? (If this is a DOKS cluster, then you can also mail or Slack-DM me your cluster ID.)

[2019-12-15 23:26] timoreimann commented on #157
One way to implement this that I've been thinking about would be to add a small operator that accepts a simple CRD for the volume to be integrated. It would hide all the details of mapping IDs and setting up PVs properly.

[2019-12-16 12:20] timoreimann commented on #242
@Paxa I discovered that our CSI driver misses to return a proper error code in one case which I could also observe in your issue. A fixing PR has been filed and is going to ship with the next release of our driver.

Not entirely sure though if that's the sole reason for your issues; let's continue to investigate.

[2019-12-17 09:52] tobinski commented on #242
We have a similar error. If we move pods to a different node we often see `Unable to attach or mount volumes`.

[2019-12-17 11:07] timoreimann commented on #242
@tobinski would you mind sharing the same information as https://github.com/digitalocean/csi-digitalocean/issues/242#issuecomment-565755964? Thanks.

[2019-12-18 02:27] Paxa commented on #242
Do you have images for master? I could try and see if problem is solved

[2019-12-18 08:14] timoreimann commented on #242
@Paxa unfortunately, what I thought to be the issue turned out to be an ambiguous interpretation of what the CSI specification expects: the presumed fix should not be related to what was observed on your cluster. (For posterity: #246 reverted the change I did again as it's not clearly needed.)

If you could respond to the email I sent you a couple of days ago, that'd be great as it'd allow us to f

[2019-12-18 08:40] timoreimann commented on #242
@tobinski's issue seems slightly different: it looks like the problem that #221 addressed, which is going to be included in our next CSI driver release.

[2019-12-19 12:15] ajvn commented on #224
Additional finding:

If your cluster has separate infrastructure nodes, those won't get annotated by driver automatically, and you won't be able to attach volumes to those nodes. In order to overcome this, create new label that's specific to all the nodes to which you'd like to attach volumes, and then also manually annotate infrastructure nodes with csi driver specific annotation.

As we decided

[2019-12-21 07:00] timoreimann commented on #224
Hey @ajvn, thanks for the update.

I wonder why these extra steps are required for additional infrastructure nodes. The node metadata you have added manually should be added by the CSI driver registration process AFAICT, which happens automatically when the driver is installed on a worker node together with the registrar sidecar. 🤔

[2019-12-23 12:47] ajvn commented on #224
I assume it's some sort of permission restriction. Same applies for master nodes, gluster nodes, and every other label that's not worker/compute node. I'll let you know if this works automatically once we add new infra node, and label it accordingly.

[2020-01-07 22:06] timoreimann commented on #209
We merged support for raw block mode into master, and rudimentary validated it works with Rook.

The next CSI and DOKS releases are going to ship the feature.

[2020-01-07 22:06] #209 closed

[2020-01-07 22:09] timoreimann commented on #192
Support for raw block volumes got merged into master. It will be shipped with the next release.

[2020-01-07 22:09] #192 closed

[2020-01-07 22:11] timoreimann commented on #174
This one got fixed by #199 most likely.

[2020-01-07 22:11] #174 closed

[2020-01-08 00:47] srv-io commented on #106
@timoreimann  With #193 merged, what does block this feature? The lack of PVC resizing is a dealbreaker right now. :(

[2020-01-08 01:16] YourTechBud commented on #106
@srv-io the readme suggests PVCs can be resized (only increased). Haven't tried it out yet.

[2020-01-08 07:59] timoreimann commented on #106
@srv-io the only thing missing is to cut a release and (for DOKS users) ship it with our next batch of images.

I'm in the process of making this happen right now. Keep an eye on the Github releases and the DOKS change log. I will also post updates here as we progress.

[2020-01-08 07:59] timoreimann commented on #106
Downsizing is not supported for now. If there's demand for it, we can consider providing support for that as well. It's a potentially risky operation, however, so we wouldn't want to provide a means that makes it too easy to destroy your data accidentally.

[2020-01-08 08:03] timoreimann commented on #106
Like any updates to master, the README updates are referring to the latest development version of our driver. It's recommended to look at tagged commits of the repo to see documentation / files for a particular, released driver version.

[2020-01-08 15:19] MasterNayru commented on #209
Woohoo! Thanks, everyone! Greatly appreciated. Eagerly awaiting the next release to give this a go

[2020-01-08 17:01] ajvn commented on #224
After adding new compute, and infra nodes, and labelling it, plugin recognized it properly and added new pods successfully. So steps from this [comment](https://github.com/digitalocean/csi-digitalocean/issues/224#issuecomment-567465777) work fine for this use case.

Let me know if you'd like to document this somewhere, if not, I'll close the ticket.

[2020-01-09 20:16] UristMcMiner commented on #132
We solved it. The --allow-privileged is, if it works, a rather ugly workaround.
The real problem is, in RancherOS, the kubelet location is not under /var/lib/kubelet, it's under /opt/rke/var/lib/kubelet, which leads to the Sockets created by Trident not being seen by the kubelet, and therefor prevents the kubelet from registering the driver.

The missing NodeID is a sympton of this, because the re

[2020-01-10 22:16] timoreimann commented on #224
Hey @ajvn

thanks for taking the time digging into this. 💙

I'd be happy to review an update to our 0.2.x README file with the necessary steps you outlined. While we do not actively support version 0.2.x anymore (it only works on Kubernetes 1.10 and 1.11 which are quite old by now), i think the instructions may still be valuable to other OpenShift users.

Thanks!

[2020-01-10 22:20] timoreimann commented on #242
Issues were resolved externally. Closing.

[2020-01-10 22:20] #242 closed

[2020-01-10 22:24] timoreimann commented on #172
Closing as it looks like the issue has been resolved.

[2020-01-10 22:24] #172 closed

[2020-01-10 22:35] timoreimann commented on #132
I'll be closing this issue since we haven't received further input in a while.

Additionally, it looks like this is more a Rancher issue (see also longhorn/longhorn#392), so there's probably not much the CSI driver can do here (other than perhaps adding documentation notes for Rancher).

If people believe that that we can be of help somehow, please post and I'll reopen the ticket.

[2020-01-10 22:35] #132 closed

[2020-01-10 22:38] timoreimann commented on #122
Is this specific problem about mkfs failing still happening to people? If so, I'd be happy to look into the matter. Please share details like the OP did to ease troubleshooting.

Thanks!

[2020-01-10 22:45] #138 closed

[2020-01-12 18:31] haroldpadilla opened #270 "Unable to attach persistent volume claim to node (where it is attached already) after cluster update"
### What did you do?

I updated my DO cluster to 1.16.2-do.2 and mongodb couldn't reconnect to its persistentvolumeclaim. I do have autoscaling enabled on this cluster, I think the problem happened mostly when DO updated rescheduled resources and attached/detached volumes, I noticed it created new nodes (I guess to reduce downtime) while it updated other nodes.

### What did you expect to happen?

[2020-01-12 18:33] #270 closed

[2020-01-20 06:28] AATHITH opened #276 "volume mode "Persistent" not supported by driver dobs.csi.digitalocean.com"
### What did you do?
I tried installing mysql with pv, mysql pod stuck with the following error:

MountVolume.NewMounter initialization failed for volume "pvc-4765c451-c31c-4090-807c-66c251247126" : volume mode "Persistent" not supported by driver dobs.csi.digitalocean.com (only supports [])

what does this mean? what should I do now??

### What did you expect to happen?

I expect redis-ha to be a

[2020-01-20 07:41] timoreimann commented on #276
Hi there

Thanks for reporting. Interesting, we should be supporting _Persistent_ volumes for sure. Let me spend some time to dig into this and see what the matter is.

[2020-01-20 07:42] timoreimann commented on #276
Quick question: how did you provision your cluster? kubeadm, kops, something else?

[2020-01-20 08:17] timoreimann commented on #276
Diving into the Kubernetes code, it looks like this is related to the capabilities announced by the [CSIDriver object](https://github.com/digitalocean/csi-digitalocean/blob/master/deploy/kubernetes/releases/csi-digitalocean-v1.2.0.yaml#L23-L32). Kubernetes 1.16 introduced the `volumeLifecycleModes` field which can have a value of `Persistent`. We do not set that in our release files, but we should

[2020-01-20 09:47] AATHITH commented on #276
I created my cluster with kubeadm

[2020-01-20 09:49] AATHITH commented on #276
i have downgraded to k8 1.15, its working without issues.

[2020-01-20 09:51] timoreimann commented on #276
@AATHITH would you mind sharing the output of that `kubectl` command on a 1.16 cluster anywhay? The reason it's possibly working on 1.15 is that the related `volumeLifecycleModes` field was only added in 1.16.

Thanks!

[2020-01-20 10:29] AATHITH commented on #276
`kubectl get csidriver dobs.csi.digitalocean.com -o yaml
`

apiVersion: storage.k8s.io/v1beta1
kind: CSIDriver
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"storage.k8s.io/v1beta1","kind":"CSIDriver","metadata":{"annotations":{},"name":"dobs.csi.digitalocean.com"},"spec":{"attachRequired":true,"podInfoOnMount":true}}
  creationTimestamp: "202

[2020-01-20 11:19] timoreimann commented on #276
@AATHITH ah interesting, the field is missing for you. This is what the object looks like on my DOKS 1.16.2-do.2 cluster:

[code]

I bet that if you add that `Persistent` list item, it's going to work for you. Perhaps you can try that?

I am going to do some 🕵-ing on why `volumeLifecycleModes` looks different to you. A bug on 1.16.0 came to my mind first, though I cannot find anything relevant in

[2020-01-20 15:01] timoreimann commented on #276
@AATHITH I was able to determine one behavior that may have an influence in this case: if the `CSIInlineVolume` feature flag is disabled, then the `Persistent` value would not be included in `volumeLifecycleModes` by default.

In Kubernetes 1.16, that feature flag is on by default; so in order for this to make a difference, it'd need to be disabled explicitly. Can you confirm if this was or was no

[2020-01-20 15:07] pohly commented on #276
If it is disabled, then MountVolume.NewMounter should also be disabled. That part may be faulty in Kubernetes.

[2020-01-22 04:56] AATHITH opened #277 "timeout expired waiting for volumes to attach or mount for pod"
### Configuration (**MUST** fill this out):

* CSI Version: 1.2.0

* Kubernetes Version: 1.15

* Cloud provider: Digital Ocean

[2020-01-22 05:24] #277 closed

[2020-01-22 23:08] timoreimann commented on #106
Our newest DOKS version 1.16.2-do.3 has just been shipped and supports volume expansion / resizing. See the [volume feature overview page](https://www.digitalocean.com/docs/kubernetes/resources/volume-features/) for links to usage documentation.

[2020-01-22 23:08] #106 closed

[2020-01-22 23:10] timoreimann commented on #202
The new v1.2.0 updated the API version to `apps/v1`.

[2020-01-22 23:10] #202 closed

[2020-01-22 23:12] timoreimann commented on #155
Looks like the referenced PR fixed this one. Closing then, but let me know if I misunderstood.

[2020-01-22 23:12] #155 closed

[2020-01-31 16:17] bukowa opened #282 "How to use with PersistentVolume or StorageClass?"
### What did you do?
How can i use `PersistentVolume` / `StorageClass` with `PersistentVolumeClaim` in this driver?
[code]

[2020-01-31 17:56] bukowa commented on #157
For me it seems usefull to re-use volume in PVC if it already exists, and if not, a new one should be created. Can i achieve that out of the box?

[2020-01-31 18:08] timoreimann commented on #282
Hey there

I'm not 100% sure I understand your question. Let me try to respond generally.

If you define a PVC, a PV will be created (and managed) automatically for you. There's no need to define the PV yourself. We have a [walkthrough](https://www.digitalocean.com/docs/kubernetes/how-to/add-volumes/) on how to do that.

One use case that requires creating a PV up front is when you want to import

[2020-01-31 18:14] timoreimann commented on #157
@bukowa the link shared in the original post of this issue describes how to re-use an existing volume. There's no mechanism in place implementing a reuse-or-create logic; I suppose you could build that yourself by checking if the volume exists and creating the PV depending on the outcome of that check.

[2020-01-31 18:15] bukowa commented on #157
@timoreimann yes i totally understand that, is it something reasonable to implement on the driver side?

[2020-01-31 18:20] timoreimann commented on #157
Yeah, I think it's a reasonable thing to do for that hypothetical controller I mentioned above. I'm not sure whether it would be best to integrate the controller into the driver or provide it as a stand-alone component, but that's more of a detail.

[2020-02-04 07:30] bukowa commented on #282
Thank you

[2020-02-04 07:30] #282 closed

[2020-02-07 07:08] ppoliani commented on #122
I just installed version 1.2.0 and I'm trying to install the official neo4j helm chart which deploys 3 pods. The first two have no issues with the PVC, however the third one keeps on failing.

[code]

[2020-02-07 08:39] timoreimann commented on #122
@ppoliani that's odd; it looks like the volume isn't attached to the node at the time that the Node controller tries to format the file-system. Assuming you did not detach/remove it manually (i.e., outside of Kubernetes via the DigitalOcean cloud control panel or the DigitalOcean Volumes API), we'll need to look into your case more specifically.

I assume you are running a self-hosted Kubernetes c

[2020-02-07 16:27] ppoliani commented on #122
@timoreimann thank you for the prompt response.

Yes I do run a self hosted k8s cluster. I ended up deleting the droplet that had the issue and it seemed to work perfectly fine on the new droplet.

I might have done something manually, but I can't really recall. I will let you know of it happens again. Thanks again.

[2020-02-07 17:14] timoreimann commented on #122
@ppoliani thanks for the feedback. happy to take a look at it again if the problem resurfaces.

[2020-02-07 17:15] timoreimann commented on #122
I'll be closing this ticket. For users still having problems, please file new issues. Thanks!

[2020-02-07 17:15] #122 closed

[2020-02-10 13:33] botzill commented on #157
I agree with @bukowa that having smth out of the box for reusing existing volumes will be really useful.

[2020-02-27 09:42] verenion commented on #209
Is this issue fixed, as I'm still seeing this issue when my three `rook-ceph-osd-prepare-set` is trying to spin up.

[2020-02-27 15:21] therealkevinard opened #288 "Resize PVC doesn't complete. Resizes all objects _except_ PVC."
### What did you do? (required. The issue will be **closed** when not provided.)
Following the steps in [Volume Expansion](https://github.com/digitalocean/csi-digitalocean/blob/master/README.md#volume-expansion), I applied a manifest to resize an existing PVC by 10GB.

[code]

### What did you expect to happen?
- pvc/data-nfs-server-provisioner-0 resize from 200Gi to 210GI
- (underlying) pv/pvc-94

[2020-02-27 15:52] timoreimann commented on #209
@verenion are you using the latest CSI driver v1.2.0? If you're a DOKS user, you need to make sure that you're on a [version supporting raw block mode](https://www.digitalocean.com/docs/kubernetes/resources/volume-features/).

[2020-02-27 15:56] timoreimann commented on #288
👋

We officially support resizing in beta only. Before 1.16, it was still marked alpha and needed special gates flags. Does Rancher add those?
Would you possibly have a chance to test with Kubernetes 1.16 as well?

[2020-02-27 18:29] therealkevinard commented on #288
Okay, it works like a charm on 1.16.7 :smile: No downtime, no trouble with volumes mounting, no problems at all.
We can close this out, unless you have anything to add/note?

---
For posterity - and for anyone who comes into the same trouble - what I did:
- Upgrade k8s version via RKE to 1.16.7
[code]
- Re-apply the volume expansion. I used a slightly higher size than before to make sure it was an

[2020-02-27 20:28] timoreimann commented on #288
Thanks for confirming that things work fine on 1.16. I'll be closing the issue then.

By the way, the newest CSI driver release should also fix a few things with regards to reattaching volumes after pod restarts / moving across nodes. If you still see issues, please don't hesitate to submit a DO support ticket. I'm eager to track down and eliminate any bugs we may still have remaining.

[2020-02-27 20:28] #288 closed

[2020-03-01 07:20] timoreimann commented on #276
Closing for now since we haven't heard from the OP anymore. If this is still an issue, feel free to ping again and I'll reopen.

[2020-03-01 07:20] #276 closed

[2020-03-11 17:16] walec51 opened #289 "Standard postgres image always initializes new database on persistent volume"
### What did you do?

I have created a database on DitialsOceanes managed kubernetes in the following manner:

[code]

I have logged in to the pod using

[code]

I see that the database has bean initialized and to the `/var/lib/postgresql` directory a `data` directory was added.

I can also see a proper `/var/lib/postgres/data/PG_VERSION` file.

I also create two files for debug purposes:  `/var/l

[2020-03-11 17:40] walec51 commented on #289
after so much writing it turned out that I fell to this trap: https://github.com/docker-library/postgres/issues/103#issuecomment-167631548

[2020-03-11 17:40] #289 closed

[2020-03-11 18:34] walec51 opened #290 "Creating a persistent volume from snapshot and claiming it in a different namespace does not work"
### What did you do? (required. The issue will be **closed** when not provided.)

I wanted to create a volume from a snapshot and claimed it in another namespace.

### What did you expect to happen?

Files from the original volume in the pod from another namespace that claimed the new volume.

### Configuration:

* manifests, such as pvc, deployments, etc.. you used to reproduce:

assuming we alre

[2020-03-12 08:58] walec51 commented on #290
after redoing the test a couple of times I came to the conclusion that something else was the root of the problem

[2020-03-12 08:58] #290 closed

[2020-03-13 14:32] noprom opened #291 "Resize PVC failed: FailedMount, Invalid argument"
### What did you do? (required. The issue will be **closed** when not provided.)
I have a pvc of size 100Gi , and I want to resize it to 105GB following this [volume-expansion](https://github.com/digitalocean/csi-digitalocean/blob/master/README.md#volume-expansion).

### What did you expect to happen?
- The pvc $NS/tikv-myapp-tidb-tikv-0 resize from 100Gi to 105Gi
- The pv `pvc-ad8cf8ee-236b-42b6-

[2020-03-13 15:37] timoreimann commented on #291
👋 are you running one of DigitalOcean's managed clusters, or a DIY cluster running on DigitalOcean infrastructure? In case of the latter, which version of our CSI driver do you use? (You need v1.2.0 or later.)

[2020-03-13 23:35] noprom commented on #291
@timoreimann I am running a DigitalOcean's managed cluster, the version is: `v1.16.6`

[2020-03-14 07:00] timoreimann commented on #291
Thanks for the info.

The key line is probably this one:

[code]

I think I have seen this one before _once_: there seems to be a trailing newline (`\n`) character at the end. Not sure how that got in there, especially since the arguments passed to the `mount` command we use inside the CSI driver container are all driven by Kubernetes / the sidecars.

It seems like the cluster does not exist anymo

[2020-03-14 12:04] noprom commented on #291
Hi @timoreimann , I will create a new cluster and post my steps later.

[2020-03-18 03:14] noprom commented on #291
Hi @timoreimann , this is the steps to reproduce this issue on digitalocean:

# Setps to reproduce this issue

## 1. Setup ths cluster

### 1.1 Create cluster
Create a cluster in the DO console, the version is `1.16.6-do.2(latest)`.
Cluster info:
Version:
[code]
[code]
Cluster Nodes:
[code]
[code]

### 1.2 Setup helm

[code]

Pods:
[code]
[code]

### 1.3 Setup Storage Class
Create a file `do-ssd.y

[2020-03-18 06:29] timoreimann commented on #291
Thank you so much for the elaborate description. I'll give it a try and report back.

[2020-03-18 10:26] arabo11 commented on #291
Hi, Same issue here. After expand the volume, pod won't start by mentioned error:
..... failed: Invalid argument\n"

[2020-03-18 11:29] timoreimann commented on #291
I did a quick test with the built-in storage class resizing 1 GB to 2 GB, which worked fine.

I'm a bit short on time right now but will dig into this further later. One quick thought: do you possibly need to copy the `CSIDriver` object as well as you create a dedicate storage class? I don't remember off the top of my head how CSIDrivers are linked to storage classes, but my guess'd be that it's t

[2020-03-18 11:30] timoreimann commented on #291
@arabo11 could you describe what your reproduction case looks like?

[2020-03-18 11:36] arabo11 commented on #291
@timoreimann I was deploy the 1-click wordpress-kubernetes on 3 node. Unfortunately I destroyed it and created new one, But I have describe log, if you want I can share with you.

[2020-03-18 11:53] timoreimann commented on #291
Thanks @arabo11, I think that's good enough for me now as I can test with the one-click deployment myself. Could you just let me know what capacity you resized to when you hit the problem?

[2020-03-18 11:55] arabo11 commented on #291
Sure @timoreimann I tried to update from 10G to 20G. PV part went smoothly, but after change in PVC and reboot the pod that issue appeared.

[2020-03-18 13:39] arabo11 commented on #291
@timoreimann Seems same issue happening when try to scale wordpress pod with replicas, the new created pod failing to run and giving same error.

Warning  FailedAttachVolume  18m                attachdetach-controller
Multi-Attach error for volume "pvc-xxx" Volume is already used by pod(s) wordpress-xxx

[2020-03-18 15:26] timoreimann commented on #291
Thanks for the additional data point, I'll take it into account. The multi-attachment error _could_ be for the same reason or a different one. Chances are it's another symptom of the same underlying problem.

[2020-03-19 10:50] timoreimann commented on #291
Quick update that we were able to reproduce the problem. We yet have to figure out the root cause.

[2020-03-22 00:26] varshavaradarajan commented on #291
@noprom , @arabo11 - there was a incident with block storage resizes that has been fixed now. Thanks for reporting the issue. Can you please check with a new cluster if this is still a problem for you?

If you want to retain the data in the volume,
- Scale down the pods that use the volume to 0.
- Take a volume snapshot from the DO Control Panel for the volume.
- Delete the old PV and PVC from the

[2020-03-26 21:19] e-nikolov opened #292 "Is it possible to create a VolumeSnapshot in kubernetes from an existing snapshot in digitalocean?"
[pod-single-existing-volume](https://github.com/digitalocean/csi-digitalocean/tree/master/examples/kubernetes/pod-single-existing-volume) shows how to add an existing volume as a PersistentVolume by setting an annotation:

    annotations:
      # fake it by indicating this is provisioned dynamically, so the system
      # works properly
      pv.kubernetes.io/provisioned-by: dobs.csi.digitalocean

[2020-03-26 21:40] ty2 opened #293 "Detach k8s in-use block storage in DO Dashboard, container still running"
### What did you do? (required. The issue will be **closed** when not provided.)
Detach a block storage that is attached to a k8s container in DO Dashboard

### What did you expect to happen?
K8s will automatically reattached the block storage and recreate the container.

### What is happened?
Container still running after detached the block storage in DO dashboard.

### Configuration (**MUST** fi

[2020-03-27 09:23] timoreimann commented on #293
Hi @ty2 👋

we suggest to operate on managed volumes through Kubernetes only. The CSI framework is not really designed to cope with changes that have been done out-of-band. Changing that would be quite an undertaking since CSI drivers respond to external triggers from the sidecars and Kubernetes only but do not (and IMO also should not) take proactive actions.

I'd be eager to learn your use case f

[2020-03-27 14:22] timoreimann commented on #292
Hey @e-nikolov 👋

I wasn't sure myself whether importing snapshots is possible. After reading through the [snapshot-announcing blog post](https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/) again and playing around with it though, I can say that it does work. 🎉

Instead of outlining the necessary steps in this issue, I decided to extend our examples right away.

[2020-03-27 15:41] e-nikolov commented on #292
Hi, it's possible that I did something wrong, but after following this, the imported snapshot in k8s has its restoreSize set to ~800GB when in the DigitalOcean control panel it's only 300GB.

Have you seen such a difference when you did it?

[2020-03-27 20:49] timoreimann commented on #292
@e-nikolov I suppose you set ` resources.requests.storage` on the PVC accordingly?

[2020-03-28 17:49] justinbarrick commented on #128
Support is unfortunately unable to help with this issue

![image](https://user-images.githubusercontent.com/29671524/77829844-d31bfa00-70e1-11ea-94f0-6111a9a12e38.jpeg)

[2020-03-31 07:56] e-nikolov commented on #292
@timoreimann If you mean the PVC created from the snapshot, yes I did, but it told me the minimum was 800GB.

[2020-03-31 14:43] timoreimann commented on #291
Closing the ticket as the issue seems resolved. Please do get back to us if issues remain or the recovery turns out to be tricky.

[2020-03-31 14:43] #291 closed

[2020-04-01 07:09] noprom commented on #291
@timoreimann Appreciated, issue resolved.

[2020-04-06 05:40] PrasadG193 opened #295 "Timeout while listing DO volume snapshots"
### What did you do? (required. The issue will be **closed** when not provided.)
I tried creating `VolumeSnapshot` by referencing existing `VolumeSnapshotContent` with manifest like this:
[code]

### What did you expect to happen?
I was expecting `VolumeSnapshot` resource to be created without any error and status `readyToUse: true` to be set

but instead the resource created failed with the follo

[2020-04-06 07:16] timoreimann commented on #295
Hi @PrasadG193 👋

Just to clarify: were you able to verify that the timeout continued to occur even after several minutes? I'd like to rule out this wasn't a temporary problem with the public snapshot API.

Thank you!

[2020-04-06 15:47] PrasadG193 commented on #295
Hey @timoreimann ,
I have not changed the default csi-snapshotter timeout which is `1m` I guess
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/csi-snapshotter/main.go#L64

[2020-04-06 20:16] santhoshs123 opened #296 "StatefulSet pod stuck in pending state after deleting pvc and pod."
### What did you do? (required. The issue will be **closed** when not provided.)
1. Created a StatefulSet with 2 replicas and 2 VolumeClaimTemplates.
2. After pods are in Running state, issue command to delete 2 PVCs attached to a pod. PVCs went to Terminating state.
3. Delete the corresponding pod. Both pod and PVCs got deleted.
4. StatefulSet recreated the pod. Pod went into Pending state and st

[2020-04-06 21:44] timoreimann commented on #296
Hello 👋

Could you also share the remaining pieces of information about the CSI version, Kubernetes version, and cloud provider?

If this is a DigitalOcean Kubernetes cluster, it suffices to mention the full DOKS version your cluster is on (e.g., 1.16.6-do.2).

[2020-04-06 22:09] santhoshs123 commented on #296
Thanks for the quick response! Sorry I missed that.

Kubernetes version:
Client Version: v1.16.2
Server Version: v1.14.9-eks-502bfb

Cloud Provider : EKS/AWS.

I couldn't find how to get CSI version.

[2020-04-06 22:51] timoreimann commented on #296
@santhoshs123 thanks for the details.

Do I understand correctly that you're running on AWS infrastructure? My hunch is that you cannot run the DigitalOcean CSI driver there as many assumptions are built in about running on DigitalOcean infrastructure. Showing the available storage classes like

[code]

should reveal what type of CSI driver you are actually using.

Let me know though if you think

[2020-04-06 22:57] santhoshs123 commented on #296
My bad, I created ticket under a wrong component. I intended to create it directly under Kubernetes as this is k8s StatefulSet controller issue. Let me close this and create a new ticket.

Sorry for the inconvenience!

[2020-04-06 22:57] #296 closed

[2020-04-06 22:58] timoreimann commented on #296
No problem -- glad we were able to clarify.

[2020-04-07 10:21] AATHITH opened #297 "MountVolume.MountDevice failed for volume"
### What did you do?
I created a redis statefulset with PV.
I deleted the pod(not stateful set just the pod) to check the data persistence.
The recreated pod is stuck at **ContainerCreating**.

### What did you expect to happen?
I want that pod to run after it was recreated from deletion.

### Configuration (**MUST** fill this out):

[code]
[code]

* manifests, such as pvc, deployments, etc.. you

[2020-04-07 10:33] AATHITH commented on #297
Restarted the Worker node in which that stateful pod was running. The entered running state. I want to know the reason to avoid this kind of situations in the future.

[2020-04-08 05:38] timoreimann commented on #295
In a quick test, I was able to list ~400 snapshots from the DO API in approximately 10 seconds. This means that in general, the API should be fast enough.

We need to inspect the particular cluster that you made those requests from. I think you also opened a DO support ticket, so let's continue further coordination from there and eventually post the final results here.

[2020-04-08 06:16] timoreimann commented on #297
👋

Before digging into this one: what's the `csi-do-controller-0` you reference in the issue description? Its name looks similar to the CSI controller part of the driver. However, that should not exist on the worker nodes as we have it running in the DOKS control plane. Concurrently running multiple controller instances could lead to problems potentially similar to what you are seeing.

[2020-04-08 06:21] timoreimann commented on #224
I'll be closing this one out as part of regular ticket janitoring. Still open to getting the 0.2.x docs amended, however, so just report back here or submit a PR right away if interested.

Thanks again!

[2020-04-08 06:21] #224 closed

[2020-04-09 04:00] AATHITH commented on #297
I'm running kubernetes as my own cluster in the Digital ocean(not managed k8 by DO)

[2020-04-09 05:58] timoreimann commented on #297
@AATHITH gotcha 👍 I suppose you run the controller as a StatefulSet?

"Device busy" sounds like the device is already in use somehow. It'd be good to know what the individual CSI components were doing before and when the volume was mounted.

Could you please share the logs of the following components:

- the CSI driver in the controller
- the following sidecars from the controller: provisioner, at

[2020-04-10 10:13] AATHITH commented on #297
I have created DO-csi with this [link](https://github.com/digitalocean/csi-digitalocean)
all CSI and kubelet related logs are here in this [repo](https://github.com/AATHITH/do-csi-logs.git)

[2020-04-24 08:03] timoreimann commented on #295
I'm going to close this one out since you also filed a DO support ticket. Feel free to continue the discussion there.

For what it's worth, we made several improvements and fixes to the CSI driver recently, also for snapshots. It doesn't explain your performance issues, though it may affect your usage of snapshots in other regards (#299 seems relevant in particular).

We plan on doing a release so

[2020-04-24 08:03] #295 closed

[2020-04-24 15:37] henninge commented on #297
I have probably run into the same problem. In my case, the "Resource busy" is caused by this mount:
`/mnt/.do-first-mount-bITtYIeQX /dev/sda  ext4   ro,relatime,data=ordered`

It only happens on the *second* time that the volume is attached to the node. Steps to reproduce:

1. Create a PVC with the do-block-storage class.

[2020-04-24 19:33] timoreimann commented on #297
@henninge thanks for chiming in and for providing the detailed repro steps. That was very useful, we might have an idea as to what could be causing this. We'll do some digging and report back.

In the meantime, could you (and @AATHITH) do me a favor and let me know which DOKS version your cluster is running on exactly (i.e., something like 1.16.6-do.2)? Thanks!

[2020-04-24 20:54] henninge commented on #297
@timoreimann  Glad I could help. I forgot to mention three further steps.

9. Manually unmount  /mnt/.do-first-mount-xxxxx
10. The node plugin completes and the pod starts.
11. Subsequent detach/attach sequences work fine without the /mnt/.do-first-mount-xxxxx reappearing.

I was using plain Kubernetes 1.18.2 on two droplets (a master & a worker), no additional feature gates were active as all fea

[2020-04-25 05:15] AATHITH commented on #297
I'm using a self-managed Kubernetes cluster(1 master and 2 worker nodes) running in k8s:v1.16.8

[2020-04-25 07:55] timoreimann commented on #297
Ah, good to know you're running self-managed clusters. In that case, you can to fix the problem yourself.

It looks like the error is caused by DigitalOcean's built-in auto-format udev rule that detects unformatted devices and briefly mounts them to format the file-system. Given unfortunate timing, it could conflict with the CSI driver also trying to mount a device.

Our CSI driver comes with its

[2020-04-26 11:56] henninge commented on #297
Works like a charm! Thank you!

(I added the removal to the node startup script.)

[2020-04-26 12:03] timoreimann commented on #297
Thanks for the confirmation. Glad to hear it's working!

I'll keep the ticket open to extend our official deployment manifests similarly.

[2020-04-27 17:36] #292 closed

[2020-04-27 17:41] timoreimann commented on #292
Sorry for the long delay -- turned out this issue came with a rat's tail of problems. Specifically, we did not return the minimum size of the snapshot correctly (#298) and had a bug in our implementation to fetch the right snapshot (#299). You were definitely affected by the former issue.

Master has these issues fixed, and [the import guide](https://github.com/digitalocean/csi-digitalocean/tree/5

[2020-04-28 02:23] PrasadG193 commented on #295
Sure. Thanks @timoreimann

[2020-04-28 10:15] #297 closed

[2020-05-03 12:37] edeckers opened #311 "Add LUKS support"
I've added LUKS support ([edeckers/csi-digitalocean](https://github.com/digitalocean/csi-digitalocean/compare/master...edeckers:elydeckers/feature/add-luks-support)) to release 1.2.0 by merging code from [cloudscale-ch/csi-cloudscale](https://github.com/cloudscale-ch/csi-cloudscale).

It has been working very well for me, since I started using it about a week ago on DO managed Kubernetes.

Would y

[2020-05-04 20:10] timoreimann commented on #311
hey there @edeckers 👋

we'd absolutely appreciate a patch to get LUKS support into our driver. 🎉 Happy to review any PRs of yours.

[2020-05-25 17:46] dbpolito opened #314 "Cluster scaling up due to max volume count"
My cluster scaled up due to Volume Mount Limit:

[code]

I took a look at https://www.digitalocean.com/docs/volumes/#limits and this is not clear to me.

Everything worked, volumes were created and my deploy worked fine but i didn't expect my cluster to scale up due to number of volumes mounted.

Is there something i can do or configure to avoid that?

[2020-05-26 05:56] timoreimann commented on #314
@dbpolito to make sure I understand your issue correctly: are you saying that you found your cluster scaling up due to supposed volumes-per-node limitation but you think it shouldn't have done so; or do you think the upscale was justified to allow scheduling but you'd rather see the cluster not autoscale (even if it means a to-be-scheduled pod stays stuck)?

I'll try to answer generally for now: w

[2020-05-26 14:52] dbpolito commented on #314
So this is a limitation on DO for attaching volumes in Droplets:

![image](https://user-images.githubusercontent.com/347400/82915369-0266b000-9f47-11ea-998c-31db9dafc9ce.png)

I was trying to understand the limit, while researching i found the volume list was defined by the CSI Driver, so i was wondering if it was somehow configurable.

This is indeed a limitation that i will need to change in my

[2020-05-26 14:52] #314 closed

[2020-05-26 15:24] timoreimann commented on #314
@dbpolito indeed, this is a limitation enforced by the DO storage backend. Rook.io sounds like an interesting alternative if you cannot or do not want to work around the limitation through scheduling.

[2020-06-07 23:31] captainjapeng commented on #160
I believe this is what happened to my cluster(1.16.8-do.0) last week, upon checking 1 of 5 nodes is unresponsive. Kubernetes Dashboard's Nodes menu shows as a Question Mark icon. Pods were able to move to a new node except postgres (deployment, crunchydata postgres-operator) w/c is stuck waiting for the volume to detach from the unresponsive node.

[2020-06-08 06:44] timoreimann commented on #160
@captainjapeng thanks for reporting. My hunch is that you are seeing a somewhat different issue.

If you're a DOKS user, could you please submit a ticket so that we can look into your case. If you're managing a cluster on your own that runs on DigitalOcean infrastructure, could I ask you to file a new ticket on this repo and share all relevant logs and information?

Thank you!

[2020-06-09 02:18] captainjapeng commented on #160
I'm using DOKS, tho I had already deleted the said node and scaled down the cluster. Would that still help?

[2020-06-09 09:32] timoreimann commented on #160
@captainjapeng it's hard to say ahead of time -- CSI-related issues tend to cover a wide spectrum of causes. (Stateful systems are hard.) We could take a look nevertheless if you decided to submit a support request.

[2020-06-11 13:05] captainjapeng commented on #160
The issue has occurred again, I've opened Ticket #3490383 for the screenshots and logs

[2020-06-16 14:09] max3903 opened #328 "csi-do-controller-0 CrashLoopBackOff"
### What did you do? (required. The issue will be **closed** when not provided.)

I followed the documentation to add the do-block-storage plugin:

I added the secret successfully and run:

[code]

It fails on some snapshot specific stuff:
[code]

I moved on and tried to create a PVC.

### What did you expect to happen?

I was expecting the PV to be created.

### Configuration (**MUST** fill this

[2020-06-16 14:14] max3903 commented on #328
Other information:

I am using OKD 4.5 on Fedora CoreOS 31.

Here is the error when installing the CSI driver:

[code]

The pod `csi-do-controller-0` remains in status `CrashLoopBackOff`.

4 out of 5 containers are in state `Running` but have this error message in the log:
[code]

The last one `csi-do-plugin` (digitalocean/do-csi-plugin:v1.3.0) remains in state `Waiting` and the logs says:
[code]

[2020-06-16 23:13] timoreimann commented on #328
Hi @max3903

the error

[code]

is odd because it usually means that you are not running on DigitalOcean infrastructure (as the error indicates). However, I do see a DO region label on one of your Nodes. Can you confirm that you are indeed running on droplets? Can you connect to the metadata endpoint from your nodes?

What might also be good to know: did you try to apply the manifests on a cluster

[2020-06-17 13:19] max3903 commented on #328
Hello @timoreimann

Yes I am running on droplets built from a custom image: Fedora CoreOS 31 for Digital Ocean from https://getfedora.org/en/coreos/download?tab=cloud_operators&stream=stable

Yes, I can connect to the metadata endpoint from the 3 masters and 2 workers. That is actually how each droplet get their hostname during the installation:
See https://github.com/coreos/fedora-coreos-tracker/

[2020-06-17 15:03] max3903 commented on #328
So I ran:

[code]

I don't know if it helps but the container created from the DaemonSet is working fine on the same node.

Only the one created from the StatefulSet is crashing...

[2020-06-17 15:45] timoreimann commented on #328
@max3903 CSI driver in version 0.3.0 definitely does not support Kubernetes 1.17. If you installed that first, the subsequent 1.3.0 installation most likely failed because of unsupported (and broken) left-overs from 0.3.0.

Can you try to install v1.3.0 from a clean slate, i.e., on a 1.17 cluster that does not come with any other (older) CSI driver versions installed beforehand?

[2020-06-17 15:47] max3903 commented on #328
Even after running:
[code]
?

[2020-06-17 19:08] max3903 commented on #328
@timoreimann Installing the cluster was a pretty painful process I would like to avoid.

I removed all the `csi*` images from all the masters and workers:

[code]

and installed the correct version (1.3.0). I still get the same error.

Which left-overs am I missing?

[2020-06-17 21:41] timoreimann commented on #328
Check for any snapshot-related CRDs that might be remaining (`kubectl get crd`) and delete them.

[2020-06-18 00:14] max3903 commented on #328
@timoreimann

I deleted them.

No errors when running:
[code]

Still the same behavior on the controller, i.e the pod csi-do-controller-0 remains in status CrashLoopBackOff.

4 out of 5 containers are in state Running but have this error message in the log:
[code]
The last one csi-do-plugin (digitalocean/do-csi-plugin:v1.3.0) remains in state Waiting and the logs says:
[code]
If I replace the args

[2020-06-18 12:38] WoLpH commented on #30
Any progress on this? Currently the list of volumes in the DO console is pretty much useless to me. That's a shame because it could provide a nice overview and it can be convenient in some debugging cases

[2020-06-18 14:05] lucab commented on #328
The `couldn't get metadata` is likely a red-herring due to the manual `podman` run which is unlike the k8s manifest regarding network namespace setup.

[2020-06-18 14:58] max3903 commented on #328
@timoreimann With @lucab and @dustymabe help, I got it working by adding:
[code]
in https://github.com/digitalocean/csi-digitalocean/blob/release-1.3/deploy/kubernetes/releases/csi-digitalocean-v1.3.0.yaml#L142

[2020-06-18 15:39] timoreimann commented on #328
@max3903 glad you figured it out. 🎉
Do I understand correctly that you needed to add the  hostNetwork / privileged fields to the Controller service? (We do have it set on the Node service in the manifest.)

FWIW, the manifest you referenced (and had to amend) is what we use for our end-to-end tests as-is: we deploy it into a DOKS cluster and run upstream e2e tests against. I'm confused why it didn

[2020-06-18 16:10] max3903 commented on #328
@timoreimann Yes on the controller.

@dustymabe mentioned that openshift has stricter security settings than base kubernetes.

[2020-06-18 20:36] dustymabe commented on #328
Typically that is the case. Unfortunately I don't have enough expertise to know what those extra security defaults are or if that's the cause of the issues here. I just know enough to bring up that it could be the cause.

[2020-07-02 21:23] timthelion commented on #128
seems like k8s on digital ocean is pretty much useless then. Either you have such a simple setup that you shouldn't be using k8s in the first place, or you run into hard limits.

[2020-07-03 04:33] timoreimann commented on #128
Just to clarify: support can absolutely bump the total number of volumes that can be created _per account_.

What cannot be adjusted is the _per node_ volume limit of 7 (which may change in the future). However, the scheduler takes the limit into account and automatically places pods to nodes that still have capacity (subject to additional constraints that may impact scheduling, such as node affin

[2020-07-04 02:58] dustymabe commented on #328
This seems to be working for me with just the `hostNetwork: true` change. I don't think `privileged: true` is needed.

[2020-07-04 03:09] dustymabe opened #331 "startup instructions need to be updated for the 2.0.0 release."
### What did you do? (required. The issue will be **closed** when not provided.)

I noticed that the documentation seems to be wrong. The [documentation](https://github.com/digitalocean/csi-digitalocean/tree/f1ca95d18b590187b60967b71182dba42cbcdad6#2-deploy-the-csi-plugin-and-sidecars) says to:

[code]

But for the latest release 2.0.0 it seems like the artifacts were broken out into three separat

[2020-07-04 10:30] timoreimann commented on #331
Thanks for reporting @dustymabe. I submitted a PR, reviews are welcome if you like to. 💙

[2020-07-04 11:58] timoreimann commented on #328
Right, privileged mode should be needed on the Node service only to allow mount propagation. I don't think we have it set on our Controller service manifest.

[2020-07-04 13:12] timoreimann commented on #328
If you'd like to submit a quick PR to document the need to run on host network in OKD (and perhaps leave a commented out `hostNetwor: true` field in the manifest), I'd be happy to review that.

[2020-07-07 15:02] dustymabe commented on #328
Thanks @timoreimann. Do you think it would make sense to do it by default instead of having it commented out?

[2020-07-07 15:22] timoreimann commented on #328
@dustymabe the only platform I'm aware of at this point that requires host networking to be enabled on the Controller service seems to be OKD. So I'm more inclined to keeping it commented out for now.
If someone could manage to find out more specific reasons why it's needed in OKD though, we could possibly better judge if it's something that other platforms / systems may be affected by as well.

[2020-07-10 02:41] connde opened #334 "Deleted node is not able to attach to existing PVC once is created again"
### What did you do? (required. The issue will be **closed** when not provided.)
Deleted a random node in my Rancher cluster to see how Percona Xtradb cluster behaved

### What did you expect to happen?
Node to be recreated and Percona node attached to existing PVC

### Configuration (**MUST** fill this out):

* system logs:

Please provide the following logs:

[code]

This will output everthing f

[2020-07-10 14:39] timoreimann commented on #334
I just tested this on DOKS by directly deleting the droplet hosting a PVC-using pod (managed by a StatefulSet). After the node removal was detected (by our cloud-controller-manager component), the Node object was removed and the workload transferred to a different node, along with the PVC.

To clarify: did you delete the droplet or just the Node object in the cluster?

[2020-07-10 15:52] connde commented on #334
Hi @timoreimann , I'm NOT using DOKS, using RancherOS and deploying the nodes to droplets.

I deleted the node from Rancher UI, it got deleted and created correctly as expected but the PVC did not get attached.

[2020-07-10 16:15] timoreimann commented on #334
@connde thanks. Understood you're not on DOKS -- the behavior _should_ be identical though: as soon as the control plane detects that a node is gone, the workload should be moved elsewhere, including volumes.

To troubleshoot this further, we'll need the logs from your Controller and Node services. Could you share those?

[2020-07-10 16:28] connde commented on #334
@timoreimann I have cluster dump, is it enough?

[kubernetes-dump.zip](https://github.com/digitalocean/csi-digitalocean/files/4904302/kubernetes-dump.zip)

[2020-07-10 16:39] timoreimann commented on #334
That's perfect, thank you @connde. I'll need a bit of time to work through it, will report back once I'm done.

[2020-07-10 17:25] connde commented on #334
It's ok, no problem if it takes some time.

I don't expect that the node will restart, I was just testing what would
happen if a node failed.

On Fri, 10 Jul 2020 at 13:39, Timo Reimann <notifications@github.com> wrote:

[2020-07-11 00:01] #331 closed

[2020-07-26 09:15] timoreimann commented on #30
I started [a discussion about customizable volume names some time ago on the Kubernetes Slack](https://kubernetes.slack.com/archives/C8EJ01Z46/p1588951249254200). Turned out that an upstream ticket about better naming existed already at kubernetes-csi/external-provisioner#67 but got auto-closed after some time (and PR kubernetes-csi/external-provisioner#334 addressing the issue didn't get accepted

[2020-07-26 09:17] timoreimann commented on #293
Closing the ticket due to lack of activity. Happy to reopen if the OP or other folks can clarify on the use case.

[2020-07-26 09:17] #293 closed

[2020-07-30 16:37] dustymabe commented on #328
I changed the `csi-do-plugin` container within the pod to just `sleep` so I could exec in there and poke around.

[code]

[code]

It might be worth noting that OKD uses OVN networking: https://docs.openshift.com/container-platform/4.5/networking/ovn_kubernetes_network_provider/about-ovn-kubernetes.html. Unfortunately I don't know much about the networking side so I'm a bit limited in understanding

[2020-07-30 16:45] max3903 commented on #328
@dustymabe Done!

[2020-09-03 18:41] tpo opened #338 "please allow selectors"
### What did you do? (required. The issue will be **closed** when not provided.)

I've go a cluster with a few namespaces. I've got a few volumes. I wanted to bind a certain volume to a PersistentVolumeClaim. How? By using the standard mechanism for PersistentVolume selection: Selectors. However they are not supported. Please do support them.

### What did you expect to happen?

I expected that ha

[2020-09-05 07:15] timoreimann commented on #338
👋 I just tested this, and it worked as expected for me. I basically took [our example for importing an existing volume](https://github.com/digitalocean/csi-digitalocean/tree/9ee3f3bce0da84699852bf71a461626bd990df55/examples/kubernetes/pod-single-existing-volume) and adjusted it by including labels and label selectors.

How did you try to set things up? If you provide details then we can look at di

[2020-09-05 16:31] grumps commented on #328
:wave:  So I've run into this issue as well using K3s on DO. I was able to finally get things running with `hostnetwork: true`. I'm using the default network driver of flannel but it does use containerd as the runtime.

[2020-10-03 12:50] alonzosteger121 opened #350 "I've might have been set up IAM new to this but I am trying to pick up I should of stayed in school, I need a favor I'll owe you for this all you have to do is give me a sign i have something I really need some feedback on, Iam just now starting to learn this (trade) someone trying to get me kicked out of my home. And No! IAM not the police"
![20201003_084653](https://user-images.githubusercontent.com/72305045/94992037-39804a00-0555-11eb-8635-9d5e91cf4ed7.jpg)
![20201003_084710](https://user-images.githubusercontent.com/72305045/94992038-3d13d100-0555-11eb-84d9-a65b41af14dd.jpg)
![20201003_084719](https://user-images.githubusercontent.com/72305045/94992041-400ec180-0555-11eb-89ab-91db1fe2721f.jpg)
![20201003_084727](https://user-image

[2020-10-03 12:52] alonzosteger121 commented on #350
Look at the bottom of the pages

[2020-10-03 13:30] #350 closed

[2020-10-10 17:57] alonzosteger121 opened #357 "Network IP Scanner-Result of PING"
Network IP Scanner Result of PING

2020-10-10 13:56:52

IP: 192.168.0.7/24 (wlan0)
External IP: 5.62.***.***
SSID: ARRIS-E382
DNS 1: 75.76.160.1
DNS 2: 75.76.160.2
DHCP Server: 192.168.0.1
DHCP Lease: 1209600 s
Mode: WiFi (65 Mbps)
---------------------------------

PING to stup8d : (192.168.0.4)
MAC : a4:d1:d2:39:7a:73

PING 192.168.0.4 (192.168.0.4) 56(84) bytes of data.
64 bytes from 192.168.0.

[2020-10-13 19:44] #357 closed

[2020-10-29 10:08] StarpTech commented on #128
This limitation feels weird and scaling would break our budget. It's good practice to isolate your applications per volume to not affect each other. This is really attractive because DO supports volumes with low capacity (1GB). @timoreimann that's a bit dramatic. You can use multiple apps with a single PV. Another big problem the community tools have to support that flexible configuration.

[2020-10-29 17:39] timthelion commented on #128
@StarpTech after studying the issue further, I found that in our use-case this limitation isn't actually a problem. The thing is that using an external file store such as S3 is actually superior to using volumes  *in our usecase* (which is django apps). This is because S3 buckets can be trivially shared across instances unlike the low level concept of a block store. This makes scaling easier than

[2020-10-29 18:50] adamwg commented on #128
A couple of notes on this limitation from the DO side:

1. We totally understand it's an awkward limitation, and we are working with the Volumes team to see if it can be resolved in the future. The volumes-per-node limit is due to the fact that regardless of whether you're using DOKS or self-managed k8s on DO, these are normal DO volumes attached to normal DO droplets and we're subject to all the

[2020-10-29 19:57] StarpTech commented on #128
@adamwg Thanks for the statement.

[2020-10-30 13:08] scorsi opened #362 "Is anyone experience the DigitalOcean CSI driver for using with Nomad ?"
Hello,

I don't understand how to use the CSI driver with Nomad.

I looked here (it's more or less the only resources available about that feature online) :
 - https://www.nomadproject.io/docs/job-specification/csi_plugin
 - https://www.nomadproject.io/docs/internals/plugins/csi
 - https://www.hashicorp.com/blog/hashicorp-nomad-container-storage-interface-csi-beta (for AWS)
 - https://learn.hashic

[2020-11-05 11:37] rbren opened #365 "PVCs frequently stuck in terminating"
### What did you do? (required. The issue will be **closed** when not provided.)
Created, then deleted a PVC.

[Full repro instructions here](https://github.com/FairwindsOps/gemini/tree/master/examples/hackmd). Others have run into the same problem when following those instructions (per a recent PR on that repo).

### What did you expect to happen?
The PVC gets deleted.

Instead, the `delete` comm

[2020-11-05 19:28] timoreimann commented on #365
@rbren which version of the CSI driver are you using? you specified just the version of the registrar.

(The log output indicates v1.1.2, though I remember we had a bug once where the wrong version was reported.)

Can you please confirm that you run the driver in version 1.3.0 (the latest, compatible version for Kubernetes 1.16) and if not, try again with that version first? A fair amount of fixes

[2020-11-05 19:32] rbren commented on #365
Thanks for the quick response Timo!

What's the right way to check my version (and update if it's not 1.3)? I'm just using whatever came out of the box when I spun up my cluster

[2020-11-05 19:40] timoreimann commented on #365
@rbren oh this is a managed Kubernetes cluster? Sorry, saw _vanilla_ in the description and thought of self-managed.

[2020-11-05 19:42] rbren commented on #365
Ah sorry, yeah I see the confusion there :) Yeah it's a managed DO cluster

[2020-11-05 19:45] timoreimann commented on #365
@rbren thanks for confirming.

You are indeed running CSI driver in version v1.1.2. Would you mind upgrading your DOKS cluster to at least the latest 1.16 patch version? That you give you the v1.3.0 CSI release. If the problems continue to persist after the upgrade, we can totally dig deeper.

[2020-11-07 00:08] klausenbusk commented on #297
Is there any ETA on removing the logic? It is a bit annoying.

[2020-11-21 16:58] DataFire-repos commented on #365
I could swear I was able to reproduce once after upgrading, but after several attempts today everything seems to be working well.

I think it's safe to close this - thanks for the help!

[2020-11-21 16:59] rbren commented on #365
I could swear I was able to reproduce once after upgrading, but after several attempts today everything seems to be working well.

I think it's safe to close this - thanks for the help!

[2020-11-21 16:59] #365 closed

[2020-12-07 14:58] rbren opened #370 "Issue creating VolumeSnapshots"
### What did you do? (required. The issue will be **closed** when not provided.)
* Start a new cluster on DO (today, with default settings)
* Create a PVC
* Create a VolumeSnapshot for that PVC (works)
  * shown as "ready" in 2-3 seconds
* Create a second VolumeSnapshot for that PVC (doesn't work)
  * hangs as "not ready" indefinitely

I don't see anything in the CSI logs related to VolumeSnapshot

[2020-12-07 15:03] rbren commented on #370
🤔 it looks like this might be due to ratelimiting? It seems like the snapshot might be ready after 10m. Trying to verify now.

[2020-12-07 20:25] timoreimann commented on #370
@rbren yes you're right, this is due to rate limiting. The [public docs have this documented as a known issue](https://www.digitalocean.com/docs/images/snapshots/#limits).

If this is on DOKS, then we might not expose the error too well at this point. This is something we plan to improve on.

[2020-12-07 20:27] rbren commented on #370
👍 perfect yeah, I think that's exactly what I'm hitting. Thanks!

[2020-12-07 20:27] #370 closed

[2021-01-05 12:04] sjinks opened #373 "Stuck in "Still connecting to unix:///csi/csi.sock" loop"
### What did you do? (required. The issue will be **closed** when not provided.)

Followed the installation instructions :-)

[code]

[code]

### What did you expect to happen?

Expected `kubectl get all -A` to show no errors, but see this instead:

[code]

### Configuration (**MUST** fill this out):

* system logs:

Please provide the following logs:

[code]

https://gist.github.com/sjinks/ea0ed3

[2021-01-12 15:14] bukowa opened #375 "Problem while existing pod gets updated - multi-attach error."
### What did you do? (required. The issue will be **closed** when not provided.)
1. Create a deployment with PVC.
2. Update a deployment (changed docker image).
3. Because new pod is created on other node than the running one - there's multi-attach error:

[code]
### What did you expect to happen?
1. New pod is created on the same node.

### Configuration (**MUST** fill this out):
Will provide if

[2021-01-12 21:23] timoreimann commented on #375
👋 The approach I'd recommend is to use a StatefulSet. It guarantees that old pods are terminated before new ones come up. This also rules out potential data corruption due to multiple pods accessing the same storage.

Let me know if that works for you.

[2021-01-13 10:13] bukowa commented on #375
Thansk ill try that!

[2021-01-13 10:13] #375 closed

[2021-01-14 19:02] mockastuff opened #377 "APIExstension k8s v1beta1 Deprecated"
Installed the DO CSIDriver for RKE

kubectl --kubeconfig="rkecluster01" apply -f https://raw.githubusercontent.com/digitalocean/csi-digitalocean/master/deploy/kubernetes/releases/csi-digitalocean-v2.1.1/driver.yaml

* system logs:

Please provide the following logs:

Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s

[2021-01-15 07:00] lemonlatte opened #378 "[Question] privileged vs SYS_ADMIN in the CSI driver deployment"
### What did you do? (required. The issue will be **closed** when not provided.)

I start learning CSI recently. The `csi-digitalocean` is a pretty good resource for beginners. After study it for a while, I find a question about the `privileged` in this CSI driver deployment and would like ask for you help.

When I checked the example in here, https://github.com/digitalocean/csi-digitalocean/blob/

[2021-01-15 14:54] timoreimann commented on #362
Unfortunately I cannot answer the question. What I do know is that we had one DigitalOcean customer reporting an issue that led to me filing hashicorp/nomad#8358, so at least someone once tried to use the driver with Nomad. :)

If this is still relevant, I'd encourage to reach out to the Nomad community. Happy to take any PRs that may amend our documentation to help Nomad users use DO's CSI driver

[2021-01-15 14:54] #362 closed

[2021-01-15 14:55] timoreimann commented on #338
Closing due to lack of activity.

[2021-01-15 14:55] #338 closed

[2021-01-16 14:24] bukowa commented on #128
People in the comments (including the author) claim that it cannot work out of the box.

[2021-02-15 15:21] tyranron opened #381 "Deploy as Helm chart"
It would be nice to have an ability to deploy this CSI driver via Helm chart instead of raw Kubernetes manifests. Is it something desirable to be contributed?

[2021-02-16 20:25] adamwg commented on #381
I would have no objections to adding a helm chart. Interested in @timoreimann's opinion as well.

My only request if we add a helm chart is that we still provide static manifests for those who choose to install that way, and that those static manifests are generated from the helm chart in an automated or semi-automated way for each release (at the very least, we add a CI check that prevents them f

[2021-02-17 17:21] timoreimann commented on #381
Hey @tyranron 👋

agreeing to all points that @adamwg raised. Something I'm not too familiar with is whether Helm charts should be hosted in this repo, or whether there's possibly a more central place. I'm okay with whatever is state-of-the-Helm-art today.

We do not consume Helm charts internally at DO for the CSI driver, so the best way to support them is for an external contributor to make the i

[2021-02-24 16:32] scorsi commented on #362
For thoses falling here, HashiCorp did an exemple here : https://github.com/hashicorp/nomad/tree/master/demo/csi/digitalocean

[2021-03-24 12:37] h0jeZvgoxFepBQ2C commented on #128
This bugged us as well and is nearly a gamebreaker for us. On Amazon you can mount 39 volumes - on DO only 7 :(

Could maybe someone also clarify if this limit applies to NFS mounted volumes as well?
We have an NFS server running for ReadWriteMany workflows and it seems that these mounts also counts to the 7 shares per node - even though they are not block storage mounts?
Or am I wrong @adamwg ?

[2021-03-29 16:06] adamwg commented on #128
@h0jeZvgoxFepBQ2C The 7-volume limit applies only to DO block storage volumes. NFS volumes should not affected by it.

[2021-03-29 16:09] StarpTech commented on #128
@adamwg DO support NFS storage as a service?

[2021-03-29 16:12] adamwg commented on #128
@StarpTech No, at this time we do not have a managed NFS product. However, users can configure an NFS server themselves or use a solution like the [OpenEBS NFS provisioner](https://github.com/openebs/dynamic-nfs-provisioner) to manage NFS mounts within a DOKS cluster.

[2021-03-29 17:01] StarpTech commented on #128
@adamwg thanks for the hint but this has nothing to do with DO integration. We are looking for a managed solution.

[2021-04-05 07:01] viveksinghggits commented on #381
@timoreimann
I was thinking that I can pick this up. Since a lot of projects are hosting the helm charts in their own repo now a days we can consider hosting the chart here itself.
What do you think.

[2021-04-05 07:09] timoreimann commented on #381
@viveksinghggits sounds good to me. Feel free to take a stab, I'd be happy to review.

[2021-04-05 07:14] tyranron commented on #381
@timoreimann @viveksinghggits actually, I have some ready Helm chart, which we use internally. So for @viveksinghggits not having a fresh start, I'll issue a PR shortly, where will give him access to the branch.

[2021-04-05 07:19] viveksinghggits commented on #381
@tyranron
that makes sense. Thanks.

[2021-05-04 07:39] viveksinghggits commented on #381
Hey @tyranron/ @timoreimann ,
I thought that I would be able to work on this, but considering recent commitments at work it looks like I will not be able to work on this.

[2021-06-01 08:44] axsaucedo commented on #32
@fatih we are facing this issue atm, how do we check the version of the CSI in the cluster, namely in context of making sure that we're using the version that contains the fix - alternatively it may have been introduced recently, unless we are seeing this caused due to a different issue. Thanks.

[2021-06-01 09:41] axsaucedo commented on #32
Just following up with the comment above, I have been able to check the image tag for the running csi containers, and the images + tags are:
[code]

It seems that the images versions are newer so this issue could have been re-introduced in a latter cluster?

[2021-06-01 09:52] timoreimann commented on #32
The issue should have long been resolved. If you see the same symptoms, it's likely a different problem.

Could you please file a new ticket? As Fatih (who doesn't maintain this project anymore) indicated, we shouldn't continue to pile onto this issue anymore as things have become quite unwieldy. Thanks!

[2021-06-22 10:29] artem-zinnatullin opened #384 "Support for NVMe volumes"
Hi!

We're looking for an automated way to provision `PersistentVolumeClaim`s against locally mounted NVMe drives on DigitalOcean https://www.digitalocean.com/blog/introducing-storage-optimized-droplets-with-nvme-ssds/

We've tried `local` StorageClass https://kubernetes.io/docs/concepts/storage/storage-classes/#local, it does work however it is not automated at all, unlike DO Block Storage in k8s

[2021-06-22 15:34] adamwg commented on #384
Hello,

We are considering adding support for dynamic provisioning of local storage volumes in DOKS, however it likely will not be implemented in this CSI driver.

The significant caveat to using node-local NVMe/SSD storage is that it is indeed node-local - we can't detach it from one node and attach it to another. This means it's really only useful for ephemeral purposes, since we expect nodes to

[2021-06-22 16:16] artem-zinnatullin commented on #384
That's great news!

Interesting, how it'd be exposed and mounted then?

We do understand this caveat. There are cases when it's fine, we want to run distributed Database on NVMe storage and distributed object store. Due to performance requirements we do want to use NVMes that DigitalOcean offers. In our case the applications are distributed meaning that a Node shutdown for say upgrades and is fine

[2021-06-22 16:26] adamwg commented on #384
We would add an additional StorageClass with a separate provisioner, potentially leveraging an existing project like the `direct-csi` driver you linked. There's nothing DO-specific about node-local storage, so no need to add it to the DO CSI driver.

[2021-06-22 16:36] artem-zinnatullin commented on #384
Sounds good!

[2021-06-23 07:39] artem-zinnatullin commented on #384
Submitted related issue on partitioning NVMe drives for DOKS nodes https://github.com/digitalocean/DOKS/issues/27, basically we can't repartition NVMe drive right now..

[2021-08-04 04:49] kainz commented on #384
This sort of provisioning is also useful for running your own database workloads on nodes if you need something with the local nVME performance.  Yes, the storage is 'ephemeral', but that is something database management tools like zalando or stolon can take into account, especially when combined with things like pod disruption budgets.

You can implement solutions for that need today by running s

[2021-08-04 04:52] kainz commented on #201
In your opinion are tools built on the Go syscall implementation regularly maintained enough to keep pace with filesystems that need mount helpers, or can you envision an implementation that maintains a similar interface as mount(8) when mount helpers should be invoked?

[2021-10-08 11:16] dlebee commented on #334
DOKS, I have multiple clusters and it always occurs, before the pvc stays attached to a old node and I have to manually go unmount the volume and wait quite some time each upgrade of k8s, that takes the systems down.

[2021-10-08 13:09] timoreimann commented on #334
@dlebee that's definitely not expected. What kind of workload do you use to reference the PVCs? Is it StatefulSets?

Regular Deployments bear the risk of getting to a situation where two replicas are trying to come up, which cannot work. Just double-checking this isn't the case for you here.

[2021-10-09 10:55] timoreimann commented on #334
@dlebee the CSI components should definitely get upgraded as well. It might be more of an issue of how the upgrade proceeds in your case.

I'll run some extra tests. Appreciate any additional details you may be able to provide (either here, via mail, or on the Kubernetes Slack).

[2021-10-10 13:18] dlebee commented on #334
I have to update a cluster soon, it is currently running 16.16.6-do-2, I’ll let you know how it went.

if you have any questions I’ll be following thread

[2021-10-11 16:36] dlebee commented on #334
I have upgraded a cluster today and did not have the same issue, is the CSI driver updated automatically on upgrades or is it a manual operation that needs to be done if the cluster is older?

[2021-10-11 22:28] dlebee commented on #334
@timoreimann So the older cluster had pods stuck on terminating and not moving pods stuck in terminating for a long time.

I think the reason is that cluster is actually weaker in resources so it takes longer and I got impatient so I terminated the pods with --force which probably did not alert the CSI driver that the PVC that its no longer bound.

Is there a way to tell k8s faster to release a PV

[2021-10-16 06:03] timoreimann commented on #334
@dlebee if I had to guess, I wouldn't think that it's a resource problem: bringing pods down should happen fairly quickly. How long was "long time" for you?

If anything, `--force` should speed up the detachment process: the CSI driver cannot detach volumes if pods using it are still up (including the terminating state). By removing the pod, the CSI-/volume-related controllers should notice that t

[2021-11-08 09:10] stujb commented on #30
This is the one thing that we are lacking on our provisioning of openshift on Digitial Ocean. Is there likely to be any movement to make it possible to add identifiers to the Digital Ocean volume created via the plugin ?

[2021-11-10 17:17] JCMais commented on #136
Is using a nfs-server the best option here in this case?

[2021-11-10 18:41] adamwg commented on #136
@JCMais Yes, if you need ReadWriteMany storage in a DOKS cluster, you are best to deploy an NFS server. You could do this outside the cluster (on a droplet), or use something like the [openebs dynamic NFS provisioner](https://github.com/openebs/dynamic-nfs-provisioner) to manage it inside the cluster.

[2021-11-10 21:48] kallisti5 commented on #136
gcp / gke offers managed nfs.   "It would be nice" if DO offered something similar for ReadWriteMany

[2021-11-13 17:27] h0jeZvgoxFepBQ2C commented on #128
It's still sad that the limit is still 7 volumes per node. Any ETA when this will change? This limit is really a big minus point for DO, since NFS server etc have other problems (remounting in case node is not ready anymore etc).